#lista thead th {
	border-bottom: 0;
	border-top: 0;
}

#lista tfoot th {
	border-bottom: 1;
	border-top: 0;
	/*border-left: 0;*/
}

tfoot {
	display: table-header-group;
}

tfoot th {
	border-top: 0;
	border-bottom: 0;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
}

#lista tfoot th {
	border-bottom: 1;
	border-top: 0;
	/*border-left: 0;*/
}

table.dataTable.no-footer {
	border-bottom: 1px #dddddd !important;
}

.dataTables_paginate.paging_simple_numbers a.paginate_active {
	color: #ffffff !important;
}

.dataTables_paginate.paging_simple_numbers a.paginate_button {
	border: 1px solid #dddddd;
	margin: 0;
}

.dataTables_paginate.paging_simple_numbers a.paginate_button:hover {
	border: 1px solid #002532;
	background: #002532 !important;
	color: #ffffff !important;
}

.dataTables_paginate.paging_simple_numbers a.paginate_button.current {
	border: 1px solid #dddddd;
	margin: 0;
	background: #dddddd !important;
	color: #ffffff !important;
}

.dataTables_paginate.paging_simple_numbers a.paginate_button.current:hover {
	border: 1px solid #dddddd;
	color: #ffffff !important;
	cursor:no-drop;
}

.dataTables_paginate.paging_simple_numbers a.paginate_button.disabled {
	border: 1px solid #dddddd !important;
	margin: 0;
}

.dataTables_paginate.paging_simple_numbers a.paginate_button.disabled:hover {
	/*color: #000000 !important;*/
	background: #ffffff !important;
	border: 1px solid #ffffff;
	cursor:no-drop;
}

.dataTables_paginate.paging_simple_numbers a.paginate_button.current.disabled:hover {
	color: #ffffff !important;
	background: #dddddd !important;
}

.dataTables_paginate.paging_simple_numbers a.paginate_button.next,
.dataTables_paginate.paging_simple_numbers a.paginate_button.next:hover,
.dataTables_paginate.paging_simple_numbers a.paginate_button.disabled.next:hover {
	border-radius: 0px 2px 2px 0px;
}

.dataTables_paginate.paging_simple_numbers a.paginate_button.previous,
.dataTables_paginate.paging_simple_numbers a.paginate_button.previous:hover,
.dataTables_paginate.paging_simple_numbers a.paginate_button.disabled.previous:hover {
	border-radius: 2px 0px 0px 2px;
}

/*.dataTables_length select, .dataTables_filter input {
	color: #555555;
	background-color: white;
	background-image: none;
	border: 1px solid #afb6b8;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow
		ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out
		0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.dataTables_length select, .lista-length {
	width: 35%;
}

.dataTables_filter input, .lista-search {
	width: 70%;
}*/

.lista-length {
	width: auto;
	display: inline !important;
}

.lista-search {
	width: 70%;
	display: inline !important;
}