body{
	background: #edefef;
	font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #333333;
}

#sidebar{
	min-height: 600px;
}

h1{
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
	margin: 0.67em 0;
}

h2{
	font-weight: bold;
	color: black;
	text-decoration: none;
	/*text-align: center;*/
	display: inline-block;
	float:left;
	margin-bottom: 10px;
	line-height: 1.1;
	font-size: 18px;
}

.label{
	margin-top: 4px;
	font-size: small;
	text-align: left;
	color: black;
	padding: inherit;
}

.date-label{
	margin-top: 5px;
	font-size: small;
	text-align: left;
}

.select-label{
	margin-top: 15px;
	font-size: small;
}

.select2-container{
	float:right;
	width:80%;
	margin-bottom:20px;
}

input{
	background: none;
	border-color: #cccccc;
	border-radius: 4px;
	color: #555555;
	font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: white;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	border: 1px solid #BBBBBB;
	padding: 6px 12px;
	/*font-size: 10px;*/
}

select{
	border-radius: 4px;
}

.clear-float{
	clear: both;
}

.desde-container{
	float:left;
	margin-left: 25px;
}

.hasta-container{
	float:right;
}

#desde, #hasta{
	margin-left: 10px;
}

.graph-label, .fc-event{
	cursor: pointer;
}

a:hover img {
border: none !important;
display: inline-block;
}

/* #download {
	float: right;
} */

#download-container{
	float:none;
	margin-bottom: 20px;
	margin-top:20px;
}

.subdomain-text{
	fill: #333;
}

.q2 ~ .subdomain-text, .q3 ~ .subdomain-text, .q4 ~ .subdomain-text, .q5 ~ .subdomain-text{
	fill: #FFF;
}

a:link, a:visited{
	color: #005EB6;
}

.grid{
	margin-left: 0px;
}

.graph-rect, .q0{
	background-color: #F2EDEF;
	fill: #F2EDEF;
}

.q1{
	background-color: #f5e7bf;
	fill: #f5e7bf;
}

.q2{
	background-color: #f3da96;
	fill: #f3da96;
}

.q3{
	background-color: #f4ae53;
	fill: #f4ae53;
}

.q4{
	background-color: #f97821;
	fill: #f97821;
}

.q5{
	background-color: #fe0516;
	fill: #fe0516;
}

.grid .grid__col{
	padding-left: 0px;
	padding-bottom: 10px;
}

.fc-today{
   background-color: white;
}

.ref-table{
	font-size: small;
	margin-right: 0px;
	margin-left:75px;
	border: 1px solid black;
	border-radius: 4px;
	border-color: #cccccc;
		color: #555555;
}

.ref-title{
	font-size: small;
	padding-bottom:10px;
	font-weight: bold;
}

#lista-eventos-container{
	margin-bottom:20px;
}
hr {
	display: none;
}