.controls {
	width: 40%;
}

.introjs-helperNumberLayer {
	width: 23px;
	height: 23px;
	padding: 0px;
}

.custom-highlight-doc {
	position: relative;
	margin-bottom: 1.5em;
	border: none;
	background-color: #f8f8f8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px 25px 15px;
}

.table-responsive {
	overflow: auto;
	border: none;
}

.logo-footer {
	padding-top: 10px
}

.fa-star {
	color: #EEEA27;
}

.header-dncp {
	overflow: hidden;
}

@media (max-width: 700px) {
	.header-dncp {
		display: none;
	}
}

@media (max-width: 993px) {
	.datos-abiertos-img {
		margin: 20px 0 0 5px !important;
		height:20px !important;
		width:120px !important;
	}
}

@media (max-width: 770px) {
	.datos-abiertos-img {
		margin: 20px 0 0 40% !important;
		height:30px !important;
		width:180px !important;
	}
}

.datos-abiertos-img {
	margin: 20px 0 0;
	height:30px;
	width:180px;
}

.tab-title {
	background-color: #003d51;
}

.title-link {
	color: #ffffff;
}

.title-link:hover {
	color: #e9710a;
}

.changedirection {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align:left;
}