@charset "UTF-8";



/* FUENTES PRIMARIAS
   ======================================= */

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

/* ICONOS FUENTES
   ======================================= */

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-549n22");
  src: url("fonts/icomoon.eot?#iefix-549n22") format("embedded-opentype"), url("fonts/icomoon.woff?-549n22") format("woff"), url("fonts/icomoon.ttf?-549n22") format("truetype"), url("fonts/icomoon.svg?-549n22#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.iconos {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dncp-json-wide-icon:before {
  content: "\e624";
}

.dncp-xls-wide-icon:before {
  content: "\e625";
}

.dncp-csv-wide-icon:before {
  content: "\e626";
}

.dncp-pdf-wide-icon:before {
  content: "\e627";
}

.dncp-xml-wide-icon:before {
  content: "\e628";
}

.dncp-dncp_csv-icon:before {
  content: "\e61f";
}

.dncp-dncp_json-icon:before {
  content: "\e620";
}

.dncp-dncp_pdf-icon:before {
  content: "\e621";
}

.dncp-dncp_xls-icon:before {
  content: "\e622";
}

.dncp-dncp_xml-icon:before {
  content: "\e623";
}

.dncp-iconos_xls-icon:before {
  content: "\e61d";
}

.dncp-iconos_csv-icon:before {
  content: "\e61e";
}

.dncp-hammer-icon:before {
  content: "\e600";
}

.dncp-facebook-icon:before {
  content: "\e601";
}

.dncp-facebook2-icon:before {
  content: "\e602";
}

.dncp-facebook3-icon:before {
  content: "\e603";
}

.dncp-twitter-icon:before {
  content: "\e604";
}

.dncp-twitter2-icon:before {
  content: "\e605";
}

.dncp-twitter3-icon:before {
  content: "\e606";
}

.dncp-feed-icon:before {
  content: "\e607";
}

.dncp-feed2-icon:before {
  content: "\e608";
}

.dncp-feed3-icon:before {
  content: "\e609";
}

.dncp-youtube-icon:before {
  content: "\e60a";
}

.dncp-youtube2-icon:before {
  content: "\e60b";
}

.dncp-tumblr-icon:before {
  content: "\e60c";
}

.dncp-windows-icon:before {
  content: "\e60d";
}

.dncp-windows8-icon:before {
  content: "\e60e";
}

.dncp-skype-icon:before {
  content: "\e60f";
}

.dncp-linkedin-icon:before {
  content: "\e610";
}

.dncp-pinterest-icon:before {
  content: "\e611";
}

.dncp-pinterest2-icon:before {
  content: "\e612";
}

.dncp-chrome-icon:before {
  content: "\e613";
}

.dncp-firefox-icon:before {
  content: "\e614";
}

.dncp-IE-icon:before {
  content: "\e615";
}

.dncp-opera-icon:before {
  content: "\e616";
}

.dncp-safari-icon:before {
  content: "\e617";
}

.dncp-google-icon:before {
  content: "\e618";
}

.dncp-googleplus-icon:before {
  content: "\e619";
}

.dncp-googleplus2-icon:before {
  content: "\e61a";
}

.dncp-googleplus3-icon:before {
  content: "\e61b";
}

.dncp-googleplus4-icon:before {
  content: "\e61c";
}

/* ESTILOS POR TIPO EXTENSIÓN DOCUMENTOS
   ======================================= */

/* ICONOS A LA IZQUIERDA
   ======================================= */

.left-icon a[href$='.xls']:before,
.left-icon a[href$='.csv']:before,
.left-icon a[href$='.json']:before,
.left-icon a[href$='.pdf']:before,
.left-icon a[href$='.xml']:before {
  font-family: 'icomoon';
  font-size: 1.3em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f58220;
  position: relative;
  top: 5px;
  right: 5px;
  display: inline-block;
}

.left-icon a[href$='.xls']:before {
  content: "\e622";
}

.left-icon a[href$='.csv']:before {
  content: "\e61f";
}

.left-icon a[href$='.json']:before {
  content: "\e620";
}

.left-icon a[href$='.pdf']:before {
  content: "\e621";
}

.left-icon a[href$='.xml']:before {
  content: "\e623";
}

/* ICONOS A LA DERECHA
   ======================================= */

.right-icon a[href$='.xls']:after,
.right-icon a[href$='.csv']:after,
.right-icon a[href$='.json']:after,
.right-icon a[href$='.pdf']:after,
.right-icon a[href$='.xml']:after {
  font-family: 'icomoon';
  font-size: 1.3em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f58220;
  position: relative;
  top: 5px;
  right: -5px;
  display: inline-block;
}

.right-icon a[href$='.xls']:after {
  content: "\e622";
}

.right-icon a[href$='.csv']:after {
  content: "\e61f";
}

.right-icon a[href$='.json']:after {
  content: "\e620";
}

.right-icon a[href$='.pdf']:after {
  content: "\e621";
}

.right-icon a[href$='.xml']:after {
  content: "\e623";
}

/* FUENTE PRINCIPAL
   ======================================= */

.flag-icon {
  position: relative;
  display: inline-block;
  width: 1.3333333333333333em;
  line-height: 1em;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-icon:before {
  content: "\00a0";
}

.flag-icon.flag-icon-squared {
  width: 1em;
}

.flag-icon-background {
  -webkit-background-size: contain;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-icon-py {
  background-image: url(flags/4x3/py.svg);
}

.flag-icon-py.flag-icon-squared {
  background-image: url(flags/1x1/py.svg);
}

/* BOTONES GENERICOS
   ======================================= */

.btn-dncp {
  color: #fff;
  background-color: #f58220;
  border-color: #f8a35b;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.btn-dncp:hover {
  color: #fff;
  background-color: #f1750b;
  border-color: #f8a35b;
}

.btn-dncp-gray {
  color: #fff;
  background-color: #a7a9ac;
  border-color: #b4b6b8;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.btn-dncp-gray:hover {
  color: #fff;
  background-color: #9a9ca0;
  border-color: #c6c8ca;
}

.btn-dncp-gray:hover i {
  color: #fff;
}

.btn-dncp-gray i {
  color: #f58220;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  margin-top: 1px;
  margin-right: 3px;
}

.btn-dncp-gray-light {
  color: #002532;
  background-color: #d1d2d4;
  border-color: #dedfe0;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.btn-dncp-gray-light:hover {
  background-color: #c4c5c8;
  border-color: #d6d7d9;
}

.btn-dncp-gray-light:hover i {
  color: #002532;
}

.btn-dncp-gray-light i {
  color: #f58220;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  margin-top: 1px;
  margin-right: 3px;
}

.btn-dncp-white {
  color: #002532;
  background-color: #fff;
  border-color: #dedfe0;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.btn-dncp-white:hover i {
  color: #002532;
}

.btn-dncp-default {
  color: #7a7a7a;
  background: none;
  border: none;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.btn-dncp-default:hover {
  cursor: pointer;
}

.btn-dncp-default:hover i {
  color: #000;
}

.btn-dncp-default i {
  color: #f58220;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.btn-dncp-wire {
  color: #f58220;
  background: none;
  border: 1px solid #f58220;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.btn-dncp-wire:hover {
  cursor: pointer;
}

.btn-dncp-wire:hover i {
  color: #000;
}

.btn-dncp-wire i {
  color: #f58220;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.btn-back {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 2px 7px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-dncp-dropdown {
  color: #002532;
  text-decoration: underline;
  border-radius: 0;
  font-style: italic;
}

.btn-dncp-dropdown + .dropdown-toggle {
  color: #f58220;
}

.btn-dncp-dropdown:hover,
.btn-dncp-dropdown:focus,
.btn-dncp-dropdown:active,
.btn-dncp-dropdown.active,
.open > .dropdown-toggle.btn-dncp-dropdown {
  color: #fff;
  background: #f58220;
}

.btn-side-dncp {
  line-height: 1.43857;
}

.btn-white {
  background: none;
  border: 1px solid #afb6b8;
  background: #fff;
}

.btn-white:hover {
  border-left: none;
}

/* Botones Alertas*/

.has-error .input-group-btn .btn-danger span {
  color: #fff;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ESTILOS GENERALES
   ======================================= */

body {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #edefef;
}

img {
  max-width: 100%;
  display: inline-block;
  /*height: auto;*/
}

svg {
  /*height: 100%;*/
  width: 100%;
}

.italicBold {
  font-weight: bold;
  font-style: italic;
}

.italic {
  font-style: italic;
}

.dropdown-menu {
  background: #fff;
}

.margin-bottom-2em {
  margin-bottom: 2em;
}

.margin-bottom-3em {
  margin-bottom: 3em;
}

.margin-bottom-5em {
  margin-bottom: 5em;
}

ul {
  color: #002532;
}

ul span {
  color: #333;
}

.naranja {
  color: #f58220;
}

.azul {
  color: #002532;
}

.nuevo-item {
  padding: 20px 0;
}

.nuevo-item a {
  font-style: italic;
}

hr.short-margin {
  margin-top: 10px;
}

hr {
  border-top: 1px solid #dadcdb;
}

/* TEXT CLASES */

.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

/* Espacio entre icono y link */

.adj-list i {
  margin-right: 5px;
}

/* Select css and Select2 */

.select2-container .select2-choice .select2-arrow {
  border-left: none;
}

/* Select dentro de tablas */

.select2-choices.drop-icon {
  position: relative;
}

.select2-choices.drop-icon i {
  position: absolute;
  right: 5%;
  bottom: 40%;
}

.select2-results .select2-highlighted {
  color: #fff;
  background: #f58220;
}

/* Popover */

.popover-content,
.popover-title {
  padding-right: 6px;
  padding-left: 6px;
}

.popover-content {
  font-size: .75em;
}

/* Figure */

figure figcaption {
  margin-top: 5px;
  padding: 10px;
  background: #004b65;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

figure figcaption span {
  font-weight: bold;
}

/* Panel */

.paneldnsp {
  background: #ced1d2;
  margin-bottom: 8px;
}

.paneldnsp .form-control-feedback {
  top: 0;
}

/* paneldnsp */

.panelblanco {
  background: #fff;
  border: 1px solid #d6d7d7;
}

/* panel-balnco */

.panellight {
  background: #f2f4f4;
  border: 1px solid #d6d7d7;
}

/* Wrappers */

.wrapper-white {
  background: #fff;
  border: 1px solid #dedede;
  padding: 1em;
}

@media only screen and (min-width: 220px) and (max-width: 480px) {
  .wrapper-white {
    padding: 0;
  }
}

/* Form Blocks */

.form-filter {
  background: #f6f6f6;
  padding: 2em 1em;
  margin-bottom: 8px;
}

.form-content {
  padding: 1.5em 0;
}

.form-content-tab {
  padding: 0;
}

.form-title {
  color: #002532;
  font-weight: bold;
}

.content {
  padding: 1em 0;
}

/* Bloque */

.bloque {
  padding: 20px 15px 1px;
  margin-bottom: 8px;
}

.bloque-form {
  padding: 20px 15px 1px;
  margin-bottom: 8px;
}

.bloque-title {
  margin: -20px -15px 12px;
  border-bottom: 1px solid #afb6b8;
}

.bloque-title h2 {
  display: inline-block;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  padding: 10px 16px 7px;
  font-weight: bold;
  color: #002532;
}

.bloque-title p {
  margin-left: 1.1em;
}

.no-border-bottom {
  border-bottom: none;
}

.bloque-icons {
  margin: 0 15px;
  line-height: 37px;
}

.link-comun {
  font-style: italic;
  font-size: 14px;
  text-decoration: underline;
}

.link-comun:hover {
  color: #005e7f;
}

.has-feedback .form-control.no-padding-right {
  padding-right: 0;
}

.link-comun-white {
  font-style: italic;
  font-size: 14px;
  text-decoration: underline;
  color: #fff;
}

.form-wrapper {
  background: #f7f9f9;
  border: 1px solid #e2e2e2;
  margin: 8px 0;
  min-height: 440px;
  padding: 25px;
  position: relative;
}

@media only screen and (min-width: 299px) and (max-width: 767px) {
  .form-wrapper {
    padding: 1em;
  }

  .form-wrapper .form-filter.marco-legal {
    padding: .5em;
  }
}

@media only screen and (min-width: 220px) and (max-width: 1024px) {
  .form-wrapper {
    min-height: inherit;
  }
}

/* form-wrapper */

.form-wrapper-white {
  background: #fff;
  border: none;
}

.inside-form-top-block .help-block {
  margin-top: 0;
}

.inside-form-top-block .inside-form-title:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

.inside-form-top-block .inside-form-title {
  margin-top: 35px;
  color: #002532;
  font-size: 16px;
  font-weight: bold;
}

/* Ajustes de Tablas Ajustes de Campos en Moviles */

@media screen and (max-width: 991px) {
  .tabla.tabla-item .table-responsive {
    margin-bottom: 15px;
    overflow-y: inherit;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }

  .tabla.tabla-item .table-responsive > .table {
    margin-bottom: 0;
  }

  .tabla.tabla-item .table-responsive > .table > thead > tr > th,
  .tabla.tabla-item .table-responsive > .table > thead > tr > td,
  .tabla.tabla-item .table-responsive > .table > tbody > tr > th,
  .tabla.tabla-item .table-responsive > .table > tbody > tr > td,
  .tabla.tabla-item .table-responsive > .table > tfoot > tr > th,
  .tabla.tabla-item .table-responsive > .table > tfoot > tr > td {
    white-space: normal;
  }

  .tabla.tabla-item .table-responsive > .table-bordered {
    border: 0;
  }

  .tabla.tabla-item .table-responsive > .table-bordered > thead > tr > th:first-child,
  .tabla.tabla-item .table-responsive > .table-bordered > thead > tr > td:first-child,
  .tabla.tabla-item .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .tabla.tabla-item .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .tabla.tabla-item .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .tabla.tabla-item .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }

  .tabla.tabla-item .table-responsive > .table-bordered > thead > tr > th:last-child,
  .tabla.tabla-item .table-responsive > .table-bordered > thead > tr > td:last-child,
  .tabla.tabla-item .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .tabla.tabla-item .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .tabla.tabla-item .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .tabla.tabla-item .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }

  .tabla.tabla-item .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .tabla.tabla-item .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .tabla.tabla-item .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .tabla.tabla-item .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

@media only screen and (min-width: 220px) {
  .tabla.tabla-item .small-input {
    width: 55px;
  }

  .tabla.tabla-item .medium-input {
    width: 130px;
  }
}

@media only screen and (min-width: 220px) {
  .tabla.tabla-lote .small-input {
    width: 55px;
  }

  .tabla.tabla-lote .medium-input {
    width: 150px;
  }
}

@media only screen and (min-width: 220px) {
  .tabla.tabla-actual-mobile .small-input {
    width: 55px;
  }

  .tabla.tabla-actual-mobile .medium-input {
    width: 150px;
  }
}

@media only screen and (min-width: 220px) {
  .tabla.porTotal .small-input {
    width: 55px;
  }

  .tabla.porTotal .medium-input {
    width: 130px;
  }
}

@media only screen and (min-width: 220px) {
  .tabla.tabla-invitados .small-input {
    width: 55px;
  }

  .tabla.tabla-invitados .medium-input {
    width: 150px;
  }
}

/* Tablas Sorteables */

table.sorteable thead tr th.tablesorter-headerDesc {
  background: url("../images/sort_desc_disabled.png") no-repeat center right;
}

table.sorteable thead tr th.tablesorter-headerAsc {
  background: url("../images/sort_asc_disabled.png") no-repeat center right;
}

table.sorteable thead tr th.tablesorter-headerUnSorted {
  background: url("../images/sort_desc_disabled.png") no-repeat center right;
}

table.sorteable thead tr th.tablesorter-header {
  padding-right: 10px;
  cursor: pointer;
  font-size: 12px;
}

table.sorteable thead tr th.sorter-false {
  background-image: none;
  cursor: default;
}

/* PAGINADOR SLIDERS
   ======================================= */

.paginador-slide {
  display: block;
  position: absolute;
  overflow: hidden;
  line-height: 0;
  z-index: 120;
  /* PAGER CUSTOM */
}

.paginador-slide span {
  font-family: arial;
  font-size: 2.7em;
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: inline-block;
  cursor: pointer;
  margin-left: 5px;
}

.paginador-slide span.cycle-pager-active {
  color: #f58220;
}

.paginador-slide .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: #002532;
  border: 1px solid #fff;
  cursor: pointer;
  margin-left: 5px;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}

.paginador-slide .circle:hover {
  background: #a75108;
}

.paginador-slide .circle.cycle-pager-active {
  background: #f58220;
}

/* Paginador */

/* Colores de alerta */

.identidad {
  color: #f58220;
}

.has-identidad .form-control-feedback {
  color: #f58220;
  z-index: 0;
}

.has-gray .form-control-feedback {
  color: #aaaaaa;
  z-index: 0;
}

/* P estatico */

.form-group p.control-label {
  font-size: 13px;
  text-align: left;
  font-weight: bold;
  color: #7a7a7a;
}

.form-group.has-error p.control-label {
  color: #cd0a0a;
}

.has-feedback select.form-control {
  padding-right: 4px;
}

.has-feedback .form-control {
  padding-right: 30px;
}

.has-feedback-dncp {
  position: relative;
}

.has-feedback-dncp .form-control-feedback {
  top: 0;
  right: 4px;
}

.has-feedback-dncp .select2-container-multi .select2-choices .select2-search-choice {
  margin-right: 8%;
}

/* Datepickers */

.ui-datepicker-trigger {
  position: absolute;
  top: 0;
  right: 6px;
  width: 32px;
  height: 32px;
  margin: 1px;
  border: none;
  background-color: transparent;
}

.ui-datepicker-trigger:focus,
.ui-datepicker-trigger:active {
  outline: none;
}

/* Fix calendar over input  with select2 */

.select2-bootstrap-append {
  z-index: 0;
}

.select2-container-multi .select2-choices .select2-search-choice {
  margin-right: 5px;
}

/* Modales GENERAL */

.modal-content {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.modal-header .modal-title {
  color: #002532;
  font-weight: bold;
}

.modal-header .modal-title + p {
  margin-bottom: 0;
}

/* Elementos Formularios DNCP */

.control-label-dncp {
  text-align: left;
  margin-bottom: 0;
  padding-top: 7px;
}

/* TABLAS
   ======================================= */

.tabla {
  margin-bottom: 8px;
  margin-top: 1em;
  /* btn grpup */
  /* Input Number en tablas  */
}

.tabla .table {
  margin-bottom: 8px;
  overflow-y: inherit;
  /* Separate */
  border-collapse: separate;
  border-spacing: 4px;
  border: none;
}

.tabla .table > thead > tr > th {
  vertical-align: middle;
}

.tabla .dropdown .caret {
  color: #f58220;
}

.tabla thead {
  color: #737574;
  /* Separate */
}

.tabla thead tr > th {
  border: none;
}

.tabla thead th {
  font-weight: bold;
  vertical-align: middle;
}

.tabla tbody {
  color: #7a7a7a;
  /* Separate */
  /* Separate BG cell color */
}

.tabla tbody > tr {
  margin-bottom: 5px;
}

.tabla tbody > tr > td {
  border: 2px solid transparent;
}

.tabla tbody > tr:nth-child(even) td {
  background: #f1f1f1;
}

.tabla tbody tr td {
  vertical-align: middle;
  font-size: 12px;
  line-height: normal;
}

.tabla tbody td p.desc-or {
  margin: 0;
  margin-top: 3px;
}

.tabla tbody td p.desc-or small {
  padding: 2px 2px 2px 4px;
  background: #fde2cb;
  color: #002532;
  font-style: italic;
}

.tabla input[type="number"] {
  padding-right: 0;
}

@media only screen and (min-width: 220px) {
  .tabla .table-responsive {
    overflow-y: inherit;
  }
}

/* tabla*/

/* Tabla Invertida */

.tabla-invertida > tbody > tr:nth-child(even) > td,
.tabla-invertida > tbody > tr:nth-child(even) > th {
  background-color: #fff;
}

.tabla-invertida > tbody > tr:nth-child(odd) > td,
.tabla-invertida > tbody > tr:nth-child(odd) > th {
  background-color: #ebebeb;
}

/* Center Tabla */

.table.center-tabla {
  text-align: center;
}

.table.center-tabla th {
  text-align: center;
}

/* Tablas Elementos Internos (BTN) ajustes */

.tabla .btn-group a {
  border-radius: 0;
}

@media only screen and (min-width: 220px) and (max-width: 1199px) {
  .tabla .btn-group a {
    width: 100%;
  }
}

/* tabla */

.main-content .wrap-content .tabla .table-responsive {
  overflow-y: inherit;
}

/* MAIN NAV
   ======================================= */

.main-nav {
  background: #002532;
}

.main-nav .nav > .dropdown span.caret {
  color: #fff;
}

.main-nav nav {
  margin-bottom: 0;
}

.main-nav .dropdown-menu {
  background: #f0b079;
  padding-top: 0;
}

.main-nav .dropdown-menu > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
}

.main-nav .dropdown-menu > li > a:hover,
.main-nav .dropdown-menu > li > a:focus {
  background: #f79542;
  color: #fff;
}

.main-nav .menu-dncp {
  display: none;
}

@media only screen and (min-width: 220px) and (max-width: 767px) {
  .main-nav .menu-dncp {
    display: block;
  }
}

@media only screen and (min-width: 767px) {
  .main-nav .navbar-nav {
    width: 100%;
  }

  .main-nav .navbar-nav > li {
    width: 14.28%;
    text-align: center;
  }

  .main-nav .navbar-nav > li > a {
    padding: 15px 5px;
  }
}

/* main-nav */

.header-top {
  background: #fff;
  position: relative;
  padding: .9em 0;
  /* acces-form */
}

.header-top #logo {
  margin: 0;
  display: none;
}

.header-top .logo {
  margin: 0;
}

.header-top .brand span {
  display: none;
}

.header-top .slogan {
  color: #aaaaaa;
  margin: 0;
  margin-top: 20px;
  font-size: 14px;
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
  .header-top .slogan {
    margin-top: 0;
  }
}

.header-top .access-form {
  /* Notifaciones Dropdown */
}

.header-top .access-form .acces-btn {
  border-radius: 0;
  background: #b5b5b5;
  min-width: 170px;
}

.header-top .access-form .acces-btn p {
  margin: 0;
  color: #fff;
}

.header-top .access-form .nav-left {
  margin-bottom: 0;
}

.header-top .access-form .nav-left > li {
  float: right;
  margin-left: 15px;
}

.header-top .access-form .nav-left > li > a {
  position: relative;
  display: block;
  padding: 4px 8px;
}

.header-top .access-form .nav-left > li > a .badge {
  position: absolute;
  top: -5px;
  right: -10px;
}

.header-top .access-form .dropdown-menu.panel .panel-heading {
  text-transform: uppercase;
}

.header-top .access-form .dropdown-menu.panel .panel-heading,
.header-top .access-form .top-header .dropdown-menu.panel .panel-footer {
  padding: 10px 15px;
}

.header-top .access-form .dropdown-menu.panel .list-group-item {
  padding: 10px 15px;
}

.header-top .access-form .nav-left > li a:hover,
.header-top .access-form .nav-left > li a:focus,
.header-top .access-form .nav-right > li a:hover,
.header-top .access-form .nav-right > li a:focus {
  text-decoration: none;
}

.header-top .access-form .badge-notificacion {
  color: #fff;
  background-color: #cd0a0a;
}

.header-top .access-form span.block {
  display: block;
  color: #002532;
}

.header-top .access-form .dropdown-menu.panel .list-group-item > a {
  display: block;
  color: #002532;
}

.header-top .access-form .dropdown-menu.panel {
  padding: 0;
}

.header-top .access-form .open > .dropdown-menu {
  right: 0;
  min-width: 260px;
}

.header-top .access-form .dropdown-menu.with-arrow {
  margin-top: 10px;
}

.header-top .access-form .dropdown-menu.with-arrow.panel-default:before {
  border-bottom: 8px solid #e9e9e9;
}

.header-top .access-form .dropdown-menu.with-arrow:before {
  content: " ";
  position: absolute;
  right: 6px;
  top: -16px;
  border: 8px solid transparent;
  border-bottom: 8px solid rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 220px) and (max-width: 767px) {
  .header-top .access-form ul {
    margin-bottom: 0;
  }

  .header-top .access-form .nav-left > li {
    margin-right: 2%;
  }

  .header-top .access-form .dropdown-menu.with-arrow:before {
    display: none;
  }
}

@media only screen and (min-width: 220px) and (max-width: 767px) {
  .header-top .brand,
  .header-top .slogan-wrap {
    text-align: center;
  }

  .header-top .access-form {
    text-align: right;
    margin-top: 8px;
  }

  .header-top .access-form .acces-btn {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-top .brand,
  .header-top .slogan-wrap {
    float: left;
    min-height: 74px;
  }

  .header-top .slogan {
    margin-top: 0;
  }

  .header-top .brand {
    width: 25%;
  }

  .header-top .slogan-wrap {
    width: 55%;
    margin-left: 2%;
  }

  .header-top .header-top-wrap {
    position: relative;
  }

  .header-top .access-form {
    text-align: right;
    float: left;
    margin-left: 2%;
    position: absolute;
    bottom: -.9em;
    right: 0;
  }
}

@media only screen and (min-width: 992px) {
  .header-top .brand,
  .header-top .slogan-wrap {
    float: left;
    min-height: 74px;
  }

  .header-top .brand {
    width: 25%;
  }

  .header-top .slogan-wrap {
    width: 55%;
  }

  .header-top .header-top-wrap {
    position: relative;
  }

  .header-top .access-form {
    text-align: right;
    float: left;
    margin-left: 2%;
    position: absolute;
    bottom: -.9em;
    right: 0;
  }
}

/* header-top */

/* SLIDER HOME
======================================= */

.slider {
  position: relative;
}

.slider .slide {
  width: 100%;
}

.slider .next,
.slider .prev {
  top: 36%;
  z-index: 600;
  width: 55px;
  height: 55px;
  position: absolute;
  display: block;
  background: url(../images/arrows.png) center center no-repeat;
  overflow: hidden;
}

.slider .next:hover,
.slider .prev:hover {
  cursor: pointer;
}

.slider .next {
  right: 8px;
  background-position: -63px -33px;
}

.slider .next:hover {
  background-position: -183px -33px;
}

.slider .next:active {
  background-position: -303px -33px;
}

.slider .prev {
  left: 8px;
  background-position: -3px -33px;
}

.slider .prev:hover {
  background-position: -123px -33px;
}

.slider .prev:active {
  background-position: -243px -33px;
}

.slider .paginador-fw {
  font-size: 2.5em;
  position: absolute;
  z-index: 105;
  bottom: 0;
  right: 5%;
}

.slider .paginador-fw span {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.slider .paginador-fw span:hover {
  color: #994a07;
  cursor: pointer;
}

.slider .paginador-fw .cycle-pager-active {
  color: #f58220;
}

.slider .paginador-fw .cycle-pager-active:hover {
  color: #f58220;
}

@media only screen and (min-width: 220px) and (max-width: 720px) {
  .slider {
    display: none;
  }
}

/* slider */

/* DESTACADOS
   ======================================= */

.destacados {
  margin-bottom: 8px;
}

/* BUSCADOR HOME
   ======================================= */

.buscador .paneldnsp {
  position: relative;
  padding: 1em;
  background: none;
}

.buscador .avanzada {
  position: absolute;
  bottom: 8%;
  right: 1%;
}

.buscador input {
  border: 1px solid #002532;
}

.buscador input + span {
  background: #002532;
  color: #fff;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

/* MAIN-CONTENT
   ======================================= */

.main-content {
  /* Panel Home */
  /*show-panel */
}

.main-content .show-panel {
  overflow-y: auto;
  height: 418px;
  /* controla el alto que muestra los items*/
}

.main-content .show-panel .table-striped > tbody > tr:nth-child(even) > td,
.main-content .show-panel .table-striped > tbody > tr:nth-child(even) > th {
  background-color: #ebebeb;
}

.main-content .show-panel .table {
  border-collapse: separate;
  border-spacing: 2px;
  border: none;
}

.main-content .show-panel .tabla .table-striped > tbody > tr:nth-child(odd) {
  background: lime !important;
}

.main-content .show-panel .tabla thead tr > th {
  border: none;
  text-align: center;
}

.main-content .show-panel .tabla tbody td a {
  font-weight: bold;
}

.main-content .show-panel .tabla tbody tr {
  margin-bottom: 5px;
}

.main-content .show-panel .tabla tbody td h3 {
  margin: 0;
  padding: .1em;
}

.main-content .show-panel .tabla tbody td h3 a {
  font-size: 12px;
  line-height: 1.35em;
  display: block;
}

.main-content .show-panel .tabla tbody tr td + td {
  text-align: center;
}

/* main-content */

/* CARUSEL HOME
   ======================================= */

.home-table {
  /* tabla-info*/
}

.home-table .bloque-title {
  margin-bottom: 8px;
}

.home-table .tabla {
  margin-top: 0;
}

.home-table .tabla-info h4 {
  color: #666;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
}

.home-table .tabla-info .time-title {
  list-style: none;
  padding: 0;
  margin: 0;
}

.home-table .tabla-info .time-title li {
  text-align: center;
}

.home-table .tabla-info .time-title p {
  margin-bottom: 8px;
  color: #666;
  font-weight: bold;
}

/* rotator*/

.controles {
  min-height: 34px;
}

.controles p {
  line-height: 34px;
  margin-bottom: 0;
}

/* Marco Legal
   ======================================= */

.form-filter.marco-legal {
  margin-top: 1.5em;
}

/* ÚLTIMAS NOTICIAS
   ======================================= */

.noticias .bloque-title {
  margin-bottom: 0;
}

.noticias .content-slider {
  position: relative;
  /* PAGINADOR NOTICIAS */
}

.noticias .content-slider .paginador-slide {
  right: 0;
  bottom: 0;
}

/*noticias*/

.noticia-item {
  width: 100%;
  margin-top: 16px;
  /* Imagens */
}

.noticia-item .image-noticia {
  float: left;
  margin-right: 8px;
}

.noticia-item .title-content {
  line-height: normal;
  margin: 0 0 .2em 0;
  font-size: 1em;
  font-weight: bold;
}

.noticia-item .title-content a {
  color: #8d8d8d;
}

.noticia-item img {
  margin: 0;
  display: inline-block;
}

.noticia-item p {
  font-size: 11px;
  color: #8d8d8d;
  line-height: normal;
}

.noticia-item p.leer-mas {
  position: relative;
}

.noticia-item p.leer-mas a {
  display: block;
  font-weight: 700;
}

@media only screen and (min-width: 220px) and (max-width: 960px) {
  .noticia-item .image-noticia {
    float: none;
    text-align: center;
    margin-bottom: 16px;
  }
}

/*noticia-item*/

/* SIDEBAR HOME
   ======================================= */

/*sidebar*/

.twitter {
  margin-bottom: 8px;
}

.twitter div.timeline-footer {
  display: none;
}

.boletines p {
  margin: 0;
  background: #fff;
  padding: 0 8px;
  min-height: 40px;
  line-height: 40px;
  position: relative;
}

.boletines p a {
  color: #666;
  font-weight: bold;
}

.boletines p a i {
  text-align: right;
  position: absolute;
  right: 5%;
  top: 30%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .boletines a i {
    display: none;
  }
}

/*boletines*/

/* RESULTADOS TABLA */

.resultados div.tabla {
  min-height: 780px;
  margin-top: 0;
  padding-top: 8px;
  border: 1px solid #e2e2e2;
}

.resultados .actions-links .bottom-links {
  margin-bottom: 0;
}

/* resultados */

/* PAGE INFO 
 ======================================= */

.page-info {
  margin-bottom: 8px;
}

.page-info .page-title {
  color: #002532;
  margin: 5px 0;
  font-size: 26px;
}

@media only screen and (min-width: 220px) and (max-width: 480px) {
  .page-info h1.page-title {
    float: none !important;
  }

  .page-info .info-section ul {
    text-align: left;
  }
}

/*page-info*/

/* INFO SECTION - ICONS
======================================= */

.info-section ul {
  margin-bottom: 0;
  line-height: 37px;
}

/* info-section */

/* BANNERS 
 ======================================= */

.banners {
  position: relative;
  margin-bottom: 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Paginador */
}

.banners .slide {
  width: 100%;
}

.banners .paginador-slide {
  bottom: 5px;
  right: 10px;
  overflow: hidden;
  line-height: 0;
  /* PAGER CUSTOM */
}

/* SOCIAL MEDIA
   ======================================= */

.social-media {
  padding: 20px 0;
  position: relative;
}

.social-media p {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  line-height: 35px;
  margin-right: .5em;
  color: #7e7e7e;
}

.social-media .iconos-sociales {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-media .iconos-sociales > li {
  height: 35px;
  line-height: 35px;
}

.social-media .iconos-sociales li {
  display: block;
  float: left;
  margin: 0 18px 0 0;
  /* facebook hover */
  /* twitter hover */
  /* facebook hover */
}

.social-media .iconos-sociales li a {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  color: #7e7e7e;
}

.social-media .iconos-sociales li a:hover {
  text-decoration: none;
}

.social-media .iconos-sociales li a.dncp-facebook3-icon:hover {
  color: #3b5998;
}

.social-media .iconos-sociales li a.dncp-twitter3-icon:hover {
  color: #55acee;
}

.social-media .iconos-sociales li a.dncp-googleplus4-icon:hover {
  color: #dd4b39;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .social-media {
    margin-bottom: 3em;
  }
}

/* social-media */

/* Migas */

.migas-pan {
  background: #fff;
  margin-bottom: 8px;
  border-bottom: 1px solid #d9d9d9;
  /* Buscador Interno */
}

.migas-pan .breadcrumb {
  margin-bottom: 0;
  border-radius: 0;
  background: none;
  /* Iconos con Fontawesome */
}

.migas-pan .breadcrumb > li + li:before {
  font-family: "FontAwesome";
}

.migas-pan .breadcrumb li.fix-msg {
  color: #002532;
  font-weight: bold;
}

.migas-pan .buscador-interno {
  margin-bottom: 0;
  margin-top: 3px;
}

/* CREACIÓN DE PACKS
   ======================================= */

.wizzard {
  position: relative;
  overflow: hidden;
  /* pasos */
}

.wizzard .pasos {
  margin-left: 1em;
  list-style: none outside none;
  padding: 0;
  margin: 0;
  /* li */
}

.wizzard .pasos li {
  float: left;
  margin: 0;
  padding: 0 45px 0 65px;
  height: 46px;
  line-height: 46px;
  position: relative;
  background: #fff;
  color: #686d71;
  font-size: 16px;
  cursor: not-allowed;
}

.wizzard .pasos li:first-child {
  padding-left: 65px;
  padding-right: 60px;
}

.wizzard .pasos li .badge {
  margin-left: 8px;
}

.wizzard .pasos li .chevron {
  border: 24px solid transparent;
  border-left: 14px solid #d3d3d3;
  /*borde*/
  border-right: 0;
  display: block;
  position: absolute;
  right: -14px;
  top: -1px;
  z-index: 1;
}

.wizzard .pasos li .chevron:before {
  border: 24px solid transparent;
  border-left: 14px solid #fff;
  /* arrow head*/
  border-right: 0;
  content: "";
  display: block;
  position: absolute;
  right: 1px;
  top: -24px;
}

.wizzard .pasos li.active {
  background: #f58220;
  color: #fff;
  cursor: default;
}

.wizzard .pasos li.active .badge {
  background: #002532;
  color: #fff;
  cursor: default;
}

.wizzard .pasos li.active .badge.badge-warning {
  border-color: #eea236;
  background: #f0ad4e;
  color: white;
  cursor: default;
}

.wizzard .pasos li .badge.badge-warning {
  border-color: #eea236;
  background: #f0ad4e;
  color: white;
  cursor: default;
}

.wizzard .pasos li.active .badge.badge-info {
  border-color: #d9edf7;
  background: #bce8f1;
  color: #247fad;
  cursor: default;
}

.wizzard .pasos li.active .chevron:before {
  border-left: 14px solid #f58220;
}

.wizzard .actions {
  z-index: 1000;
  position: absolute;
  right: 0;
  line-height: 46px;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;
  background-color: #e5e5e5;
  border-left: 1px solid #d4d4d4;
}

.wizzard .step-content {
  border-top: 1px solid #D4D4D4;
  padding: 10px;
  float: left;
  width: 100%;
}

.wizzard .wizard-content .back-area {
  margin-right: 1em;
  margin-top: 10px;
}

@media only screen and (min-width: 220px) and (max-width: 540px) {
  .wizzard .pasos li {
    width: 95%;
  }
}

@media only screen and (min-width: 541px) and (max-width: 991px) {
  .wizzard .pasos li {
    width: 32.3%;
    text-align: center;
    padding: 0;
  }

  .wizzard .pasos li:first-child {
    padding: 0;
  }
}

/* wizzard */

/* CREACIÓN DE PACKS - TABS STYLES
======================================= */

.inner-wrap-content {
  padding: 22px 0;
  /* tab-content */
  /* Tabs DNCP */
  /* Productos Bienes */
  /* save-block */
  /* Resume Info */
  /* resume-info */
  /* MOnto Total */
  /* Labels formularios */
  /* Firefox style */
}

.inner-wrap-content .tab-content {
  /* tab-pane */
}

.inner-wrap-content .tab-content .form-wrapper {
  background: #f7f9f9;
  padding: 25px;
}

.inner-wrap-content .tab-content .form-wrapper .inside-form-title:first-child {
  margin-top: 0;
}

.inner-wrap-content .tab-content .form-wrapper .inside-form-title {
  margin-top: 35px;
}

.inner-wrap-content .tab-content .wrapper-block {
  padding: 25px;
}

.inner-wrap-content .tab-content .wrapper-block .inside-form-title:first-child {
  margin-top: 0;
}

.inner-wrap-content .tab-content .wrapper-block .inside-form-title {
  margin-top: 35px;
}

.inner-wrap-content .tab-content .top-form-block {
  margin-bottom: 25px;
}

.inner-wrap-content .tab-content .top-form-block .top-form-title {
  margin: 0;
  color: #002532;
  font-weight: bold;
  font-size: 18px;
}

.inner-wrap-content .tab-content .top-form-block .adj-list {
  text-align: right;
}

.inner-wrap-content .tab-content .top-form-block .adj-list li {
  margin-left: 8px;
}

.inner-wrap-content .tab-content .top-form-block .adj-list li a {
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  text-decoration: underline;
}

.inner-wrap-content .tab-content .top-form-block .adj-list li a:hover {
  color: #005e7f;
}

.inner-wrap-content .tab-content .tab-title {
  background: #aeb8bc;
  padding: 9px 25px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-top: 0;
}

.inner-wrap-content .tab-content .top-form-intro {
  font-weight: bold;
}

.inner-wrap-content .tab-content .tab-intro,
.inner-wrap-content .tab-content .top-form-intro {
  color: #7a7a7a;
}

.inner-wrap-content .tab-content .tab-intro {
  padding: 0 25px;
}

.inner-wrap-content .tab-content .tab-info {
  font-style: italic;
  color: #7a7a7a;
}

.inner-wrap-content .tab-content .tab-pane {
  padding: 1em;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .inner-wrap-content .tab-content .tab-pane {
    padding: 3px;
  }

  .inner-wrap-content .tab-content .tab-pane .form-wrapper {
    padding: 8px;
    border: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .inner-wrap-content .tab-content .tab-pane .form-horizontal .radio,
  .inner-wrap-content .tab-content .tab-pane .form-horizontal .checkbox,
  .inner-wrap-content .tab-content .tab-pane .form-horizontal .radio-inline,
  .inner-wrap-content .tab-content .tab-pane .form-horizontal .checkbox-inline {
    padding-top: 0;
  }
}

.inner-wrap-content .tab-content .inside-form-title {
  color: #002532;
  font-weight: bold;
  font-size: 16px;
}

.inner-wrap-content .tab-content .label-dncp {
  font-weight: bold;
}

.inner-wrap-content .tab-content .add-monto {
  margin-top: 1.87em;
}

.inner-wrap-content .nav > li > a {
  background: #fff;
}

.inner-wrap-content .nav-tabs > li > a {
  border-color: #eeeeee #eeeeee #ddd;
  border-radius: 0;
  margin-right: 0;
}

.inner-wrap-content .nav-tabs > li.active > a {
  border-bottom: 1px solid transparent;
  font-weight: bold;
}

.inner-wrap-content .nav-tabs > li.active > a:hover {
  background: #fff;
}

.inner-wrap-content .nav-tabs > li.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.inner-wrap-content .nav-tabs > li.disabled > a {
  color: #A3A3A3;
}

.inner-wrap-content .nav-tabs > li.disabled > a:hover {
  background: #fff;
}

.inner-wrap-content .nav-tabs > li > a:hover {
  background: #CFCFCF;
}

.inner-wrap-content .mas-items {
  padding: 1em 0;
}

.inner-wrap-content .mas-items .title {
  color: #002532;
  font-style: italic;
  text-decoration: underline;
  font-size: 16px;
  margin-bottom: 1.5em;
}

.inner-wrap-content .mas-items .num-item-find {
  color: #7a7a7a;
}

.inner-wrap-content .mas-items .num-item-find p span {
  font-weight: bold;
}

.inner-wrap-content .eliminar i {
  color: #f58220;
}

.inner-wrap-content .eliminar p {
  font-style: italic;
}

.inner-wrap-content p.observacion {
  color: #7a7a7a;
  margin-top: 1em;
}

.inner-wrap-content .save-block-inside {
  position: absolute;
  bottom: 0;
}

.inner-wrap-content .save-block {
  padding: 1em 0;
}

.inner-wrap-content .save-block p {
  margin: 0;
}

@media only screen and (min-width: 220px) and (max-width: 480px) {
  .inner-wrap-content .save-block a {
    margin-bottom: 8px;
  }
}

.inner-wrap-content .resume-info {
  border-left: 1px solid #e3e3e3;
  padding-left: 1em;
  min-height: 550px;
}

.inner-wrap-content .resume-info dt {
  text-align: left;
  margin-bottom: 15px;
  width: 145px;
  font-weight: bold;
  text-overflow: inherit;
  white-space: normal;
}

.inner-wrap-content .resume-info dd.active {
  font-weight: bold;
  font-style: italic;
  color: #002532;
  font-size: 13px;
}

.inner-wrap-content .resume-info dd {
  font-size: 12px;
  margin-bottom: 6px;
}

@media only screen and (min-width: 250px) and (max-width: 991px) {
  .inner-wrap-content .resume-info {
    margin-top: 0;
    padding-left: 0;
    border-left: none;
    min-height: inherit;
  }
}

@media only screen and (min-width: 768px) {
  .inner-wrap-content .resume-info dd {
    margin-left: 150px;
  }
}

@media only screen and (min-width: 220px) and (max-width: 460px) {
  .inner-wrap-content .resume-info dl dd {
    margin-left: 110px;
  }

  .inner-wrap-content .resume-info dl dt {
    width: 90px;
    float: left;
  }
}

@media only screen and (min-width: 461px) and (max-width: 500px) {
  .inner-wrap-content .resume-info dl dd {
    margin-left: 150px;
  }

  .inner-wrap-content .resume-info dl dt {
    width: 130px;
    float: left;
  }
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
  .inner-wrap-content .resume-info dl dd {
    margin-left: 190px;
  }

  .inner-wrap-content .resume-info dl dt {
    width: 160px;
    float: left;
  }
}

.inner-wrap-content .tabla.montos-table {
  margin-bottom: 0;
}

.inner-wrap-content .tabla.montos-table .table {
  margin-bottom: 0;
}

.inner-wrap-content .tabla.montos-table + div .actions-links {
  margin-bottom: 3em;
}

.inner-wrap-content .monto-total tr td {
  border: none;
  color: #737574;
  font-weight: bold;
}

.inner-wrap-content .monto-total p {
  color: #7a7a7a;
  font-weight: bold;
}

.inner-wrap-content .monto-total span {
  color: #002532;
  font-weight: bold;
  font-size: 1.25em;
  font-style: italic;
}

.inner-wrap-content .form-horizontal .control-label {
  text-align: left;
  font-weight: bold;
}

@-moz-document url-prefix()  {
  .inner-wrap-content .form-horizontal input[type="file"].form-control {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.inner-wrap-content .form-horizontal .control-label.label-right {
  text-align: right;
}

.inner-wrap-content .form-horizontal .control-label.label-left {
  text-align: left;
}

.inner-wrap-content .form-horizontal .control-label.label-center {
  text-align: center;
}

/* inner-wrap-content */

/* PAGINA PRODUCTOS BIENES SERVICIOS
   ======================================= */

.actions-links {
  padding: 5px;
  /* Estilos comunes de botones bajo tablas */
  /* top-links */
  /* bottom-links */
}

.actions-links #nuevo-item,
.actions-links #buscar-items,
.actions-links #eliminar-seleccion {
  font-style: italic;
}

.actions-links #buscar-items i,
.actions-links #eliminar-seleccion i {
  color: #f58220;
}

.actions-links .iconos {
  /* CUSTOM */
  font-size: 1.2em;
  position: relative;
  top: 2px;
  right: 3px;
}

.actions-links .top-links {
  margin-bottom: 1em;
}

.actions-links .bottom-links {
  margin-bottom: 2em;
}

.actions-links .bottom-links ul.list-inline li a {
  font-size: 12px;
}

.actions-links .bottom-links .paginador p {
  margin: 0;
  color: #797b7a;
  font-style: italic;
}

.actions-links .bottom-links .pagination {
  margin: 0;
}

.actions-links .bottom-links .datos-logo {
  margin: 0;
  margin-top: 4%;
}

@media only screen and (min-width: 220px) and (max-width: 767px) {
  .actions-links {
    /* bottom-links */
  }

  .actions-links .bottom-links {
    margin-bottom: 0;
  }

  .actions-links .bottom-links .paginador {
    margin-bottom: .5em;
  }

  .actions-links .bottom-links ul.list-inline li {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .actions-links {
    /* bottom-links */
  }

  .actions-links .bottom-links .paginador {
    margin-bottom: 0;
    text-align: right;
  }

  .actions-links .bottom-links .datos-logo {
    margin-top: 0;
    margin-bottom: .5em;
  }

  .actions-links .bottom-links .datos-logo + div p {
    margin-bottom: 0;
  }
}

/* action-links */

/* POR ITEM */

.modal-resultados .bottom-links {
  margin-bottom: 0;
}

.modal-resultados .resul-title {
  color: red;
}

/* RESULTADO DE BUSQUEDAS
   ======================================= */

.export ul li {
  margin-left: 15px;
}

.export ul li a {
  font-style: italic;
  font-size: 12px;
}

.wrap-content {
  padding: 8px;
  /* 8px 0 */
  background: #fff;
  margin-bottom: 22px;
  /* finder */
  /* finder.marco */
  /* Datepicker en sidebar Finder */
  /* finder datepicker */
  /* main-search */
  /*form-wrap-inner */
  /* finder-avanzado */
}

.wrap-content .finder {
  border: 1px solid #d9d9d9;
  padding: 10px;
  min-height: 780px;
}

.wrap-content .finder h3 {
  color: #002532;
  font-weight: bold;
  font-size: 14px;
}

.wrap-content .finder p {
  font-size: 12px;
}

.wrap-content .finder .form-group {
  margin-bottom: 5px;
}

.wrap-content .finder .has-feedback-dncp .form-control-feedback {
  top: 0;
  right: 2px;
}

.wrap-content .finder .has-feedback-dncp .select2-container-multi .select2-choices .select2-search-choice {
  margin-right: 15%;
}

.wrap-content .finder p.sub-text {
  margin-top: 0;
  font-size: 13px;
  color: #7a7a7a;
  font-weight: bold;
}

@media only screen and (min-width: 220px) and (max-width: 1199px) {
  .wrap-content .finder {
    min-height: inherit;
    margin-bottom: 8px;
  }
}

.wrap-content .finder .formulario-dncp .section-form-info:first-child {
  margin-top: 0;
}

.wrap-content .finder .form-group {
  margin-left: 0;
  margin-right: 0;
}

.wrap-content .finder .finder-avanzado {
  margin-bottom: 8px;
}

.wrap-content .section-form-info {
  margin-bottom: 1em;
  margin-top: 1em;
}

.wrap-content .section-form-info h3 {
  margin: 0;
}

.wrap-content .section-form-block {
  margin-top: 1.5em;
}

.wrap-content .section-form-block h5 {
  color: #7a7a7a;
  margin: 0;
  border: 1px solid lime;
}

.wrap-content .finder .has-feedback .ui-datepicker-trigger {
  position: absolute;
  top: 25px;
  right: 0;
  width: 32px;
  height: 32px;
  margin: 1px;
  border: none;
  background-color: transparent;
}

.wrap-content .finder .has-feedback .ui-datepicker-trigger:focus,
.wrap-content .finder .has-feedback .ui-datepicker-trigger:active {
  outline: none;
}

.wrap-content .formulario-dncp > h5:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

.wrap-content .formulario-dncp .submit-block {
  position: relative;
}

.wrap-content .formulario-dncp .submit-block input {
  position: relative;
  z-index: 1;
}

.wrap-content .formulario-dncp .submit-block hr {
  position: absolute;
  top: -3px;
  width: 70%;
  z-index: 0;
}

.wrap-content .form-wrap-inner {
  padding: 10px;
}

.wrap-content .form-horizontal .has-feedback .form-control-feedback {
  top: 25px;
  right: 0;
}

.wrap-content .form-horizontal .control-label {
  text-align: left;
  font-weight: bold;
}

.wrap-content .finder-avanzado {
  background: #f7f9f9;
  padding: 5px 10px;
}

.wrap-content .finder-avanzado .has-feedback .form-control {
  padding-right: 30px;
}

.wrap-content .finder-avanzado input[type="text"] {
  padding: 6px 4px;
  font-size: 12px;
}

.wrap-content .finder-avanzado .radio,
.wrap-content .finder-avanzado .checkbox {
  margin: 0;
  padding-top: 0;
  min-height: inherit;
  margin-bottom: 3px;
}

.wrap-content .finder-avanzado .checkbox label {
  display: block;
  color: #7e848b;
  font-weight: bold;
}

/*busqueda-wrap-content */

/* Resultados */

.wrap-content {
  /* tabla */
}

.wrap-content .form-wrapper {
  background: #fafafa;
  padding: 25px;
  min-height: 370px;
}

.wrap-content .inside-form-title {
  color: #002532;
  font-weight: bold;
}

.wrap-content .inside-form-title:first-child {
  margin-top: 0;
}

.wrap-content .term {
  margin-top: 8px;
  margin-bottom: 8px;
  line-height: normal;
  border: 1px solid #ddd;
  padding: 10px 25px;
  color: #002532;
}

.wrap-content .term p {
  margin-bottom: 0;
}

.wrap-content .term strong {
  font-weight: bold;
}

.wrap-content .top-block .title-top {
  background: #aeb8bc;
  padding: 9px 25px;
  color: #fff;
  font-weight: bold;
  margin-top: 0;
  font-size: 18px;
}

.wrap-content .tab-intro {
  padding: 0 25px;
  margin-top: 8px;
}

.wrap-content .num-item-find {
  color: #7a7a7a;
  margin-top: 8px;
  margin-left: 5px;
}

.wrap-content .num-item-find p span {
  font-weight: bold;
}

.wrap-content .tabla {
  background: #f7f9f9;
  padding: 5px;
  /* tabla-responsive */
}

.wrap-content .tabla td {
  font-size: 13px;
  vertical-align: middle;
}

@media screen and (max-width: 991px) {
  .wrap-content .tabla .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }

  .wrap-content .tabla .table-responsive > .table {
    margin-bottom: 0;
  }

  .wrap-content .tabla .table-responsive > .table > thead > tr > th,
  .wrap-content .tabla .table-responsive > .table > thead > tr > td,
  .wrap-content .tabla .table-responsive > .table > tbody > tr > th,
  .wrap-content .tabla .table-responsive > .table > tbody > tr > td,
  .wrap-content .tabla .table-responsive > .table > tfoot > tr > th,
  .wrap-content .tabla .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }

  .wrap-content .tabla .table-responsive > .table-bordered {
    border: 0;
  }

  .wrap-content .tabla .table-responsive > .table-bordered > thead > tr > th:first-child,
  .wrap-content .tabla .table-responsive > .table-bordered > thead > tr > td:first-child,
  .wrap-content .tabla .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .wrap-content .tabla .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .wrap-content .tabla .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .wrap-content .tabla .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }

  .wrap-content .tabla .table-responsive > .table-bordered > thead > tr > th:last-child,
  .wrap-content .tabla .table-responsive > .table-bordered > thead > tr > td:last-child,
  .wrap-content .tabla .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .wrap-content .tabla .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .wrap-content .tabla .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .wrap-content .tabla .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }

  .wrap-content .tabla .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .wrap-content .tabla .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .wrap-content .tabla .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .wrap-content .tabla .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

/* resultados */

/* Padding para Páginas */

.wrap-content.comun {
  padding: 8px;
}

/* Tablas Responsivas Ajustes */

/* Tabla por total (Bienes Servicios) */

.tabla.porTotal {
  /* tabla-responsive */
}

@media screen and (max-width: 1200px) {
  .tabla.porTotal .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }

  .tabla.porTotal .table-responsive > .table {
    margin-bottom: 0;
  }

  .tabla.porTotal .table-responsive > .table > thead > tr > th,
  .tabla.porTotal .table-responsive > .table > thead > tr > td,
  .tabla.porTotal .table-responsive > .table > tbody > tr > th,
  .tabla.porTotal .table-responsive > .table > tbody > tr > td,
  .tabla.porTotal .table-responsive > .table > tfoot > tr > th,
  .tabla.porTotal .table-responsive > .table > tfoot > tr > td {
    white-space: normal;
  }

  .tabla.porTotal .table-responsive > .table-bordered {
    border: 0;
  }

  .tabla.porTotal .table-responsive > .table-bordered > thead > tr > th:first-child,
  .tabla.porTotal .table-responsive > .table-bordered > thead > tr > td:first-child,
  .tabla.porTotal .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .tabla.porTotal .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .tabla.porTotal .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .tabla.porTotal .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }

  .tabla.porTotal .table-responsive > .table-bordered > thead > tr > th:last-child,
  .tabla.porTotal .table-responsive > .table-bordered > thead > tr > td:last-child,
  .tabla.porTotal .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .tabla.porTotal .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .tabla.porTotal .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .tabla.porTotal .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }

  .tabla.porTotal .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .tabla.porTotal .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .tabla.porTotal .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .tabla.porTotal .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

/* tabla por total */

/* BÚSQUEDA RÁPIDA
   ======================================= */

.buscador.busqueda-rapida .form-group {
  margin-bottom: 0;
}

.buscador.busqueda-rapida .paneldnsp {
  margin-bottom: 0;
}

/* LOGIN PAGE
   ======================================= */

.form-wrapper .login-box {
  padding: 2em;
  margin-top: 30px;
}

.form-wrapper .actions-buttons button {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

/* PÁGINA INFORME DE VERIFICACION
   ======================================= */

.informe-verificacion .inner-wrap-content .resume-info {
  border: none;
  padding-left: 0;
}

.informe-verificacion .galeria-imagenes-grid {
  list-style: none;
  padding: 0;
}

.informe-verificacion .thumb {
  margin-bottom: 8px;
}

.informe-verificacion .thumb a img {
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.informe-verificacion .thumb a img:hover {
  opacity: .5;
}

.informe-verificacion .thumb a.thumbnail:hover,
.informe-verificacion .thumb a.thumbnail:focus,
.informe-verificacion .thumb a.thumbnail.active {
  border-color: #f58220;
}

.informe-verificacion .thumb h4 {
  margin-top: 8px;
  font-weight: bold;
  font-size: .95em;
}

/* informe-verificacion */

/* PÁGINA CONVOCATORIA :TAB DOCUMENTOS
   ======================================= */

.tabla.documentos {
  /* tabla-responsive */
}

@media screen and (max-width: 1199px) {
  .tabla.documentos .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }

  .tabla.documentos .table-responsive > .table {
    margin-bottom: 0;
  }

  .tabla.documentos .table-responsive > .table > thead > tr > th,
  .tabla.documentos .table-responsive > .table > thead > tr > td,
  .tabla.documentos .table-responsive > .table > tbody > tr > th,
  .tabla.documentos .table-responsive > .table > tbody > tr > td,
  .tabla.documentos .table-responsive > .table > tfoot > tr > th,
  .tabla.documentos .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }

  .tabla.documentos .table-responsive > .table-bordered {
    border: 0;
  }

  .tabla.documentos .table-responsive > .table-bordered > thead > tr > th:first-child,
  .tabla.documentos .table-responsive > .table-bordered > thead > tr > td:first-child,
  .tabla.documentos .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .tabla.documentos .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .tabla.documentos .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .tabla.documentos .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }

  .tabla.documentos .table-responsive > .table-bordered > thead > tr > th:last-child,
  .tabla.documentos .table-responsive > .table-bordered > thead > tr > td:last-child,
  .tabla.documentos .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .tabla.documentos .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .tabla.documentos .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .tabla.documentos .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }

  .tabla.documentos .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .tabla.documentos .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .tabla.documentos .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .tabla.documentos .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

/* tabla-documentos */

/* PÁGINAS RESUMENES
   ======================================= */

.nav.resumen-tabs > li > a {
  padding: 10px 6px;
}

.inner-wrap-content {
  /*top-form-block.resumen*/
}

.inner-wrap-content .wrapper {
  background: #fafafa;
  border: 1px solid #e2e2e2;
  margin-top: 0;
  margin-bottom: 8px;
}

.inner-wrap-content .servicios {
  margin-bottom: 8px;
}

.inner-wrap-content .servicios a {
  margin-bottom: 8px;
}

.inner-wrap-content .servicios a i {
  margin-right: 5px;
}

.inner-wrap-content .servicios .btn-dncp-white {
  background: rgba(5, 113, 150, 0.11);
}

.inner-wrap-content .observaciones {
  padding: 8px 0;
}

.inner-wrap-content .observaciones h2,
.inner-wrap-content .observaciones h3,
.inner-wrap-content .observaciones h4 {
  color: #002532;
  font-weight: bold;
}

.inner-wrap-content .observaciones h3 {
  font-size: 18px;
}

.inner-wrap-content .observaciones ol,
.inner-wrap-content .observaciones ul {
  color: #002532;
  padding: 0;
  margin: 0;
  list-style-position: inside;
  margin-top: 8px;
}

.inner-wrap-content .observaciones ol li,
.inner-wrap-content .observaciones ul li {
  padding: .25em 0;
  border-top: 1px solid #e2e2e2;
}

.inner-wrap-content .observaciones ol li:first-child,
.inner-wrap-content .observaciones ul li:first-child {
  border-top: none;
}

.inner-wrap-content .observaciones ol li span,
.inner-wrap-content .observaciones ul li span {
  color: #7a7a7a;
}

.inner-wrap-content .observaciones ol sup,
.inner-wrap-content .observaciones ul sup {
  color: #002532;
  font-weight: bold;
}

.inner-wrap-content .wrapper-inner {
  padding: 25px;
  min-height: 154px;
}

.inner-wrap-content .wrapper-inner h3 {
  font-size: 14px;
  margin-top: 0;
}

@media only screen and (min-width: 220px) and (max-width: 600px) {
  .inner-wrap-content .wrapper-inner {
    padding: 8px;
  }
}

.inner-wrap-content .bloque-seccion h4 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.inner-wrap-content .resume-info.resumen {
  min-height: inherit;
  border-left: none;
  padding-left: 0;
}

.inner-wrap-content .resume-info.resumen dl {
  margin-bottom: 0;
}

.inner-wrap-content .resume-info.resumen dl dt {
  text-overflow: inherit;
  white-space: normal;
}

.inner-wrap-content .resume-info.resumen dl dd {
  margin-left: 180px;
}

@media only screen and (min-width: 220px) and (max-width: 460px) {
  .inner-wrap-content .resume-info.resumen dl dd {
    margin-left: 110px;
  }

  .inner-wrap-content .resume-info.resumen dl dt {
    width: 90px;
    float: left;
  }
}

@media only screen and (min-width: 461px) and (max-width: 500px) {
  .inner-wrap-content .resume-info.resumen dl dd {
    margin-left: 150px;
  }

  .inner-wrap-content .resume-info.resumen dl dt {
    width: 130px;
    float: left;
  }
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
  .inner-wrap-content .resume-info.resumen dl dd {
    margin-left: 190px;
  }

  .inner-wrap-content .resume-info.resumen dl dt {
    width: 160px;
    float: left;
  }
}

.inner-wrap-content .top-form-block.resumen {
  margin-bottom: 10px;
}

.inner-wrap-content .top-form-block.resumen .adj-list {
  margin-bottom: 0;
}

@media only screen and (min-width: 220px) and (max-width: 479px) {
  .inner-wrap-content .top-form-block.resumen .adj-list {
    text-align: left;
  }

  .inner-wrap-content .top-form-block.resumen .adj-list li {
    margin: 0;
    display: block;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .inner-wrap-content .top-form-block.resumen .adj-list {
    text-align: left;
  }

  .inner-wrap-content .top-form-block.resumen .adj-list li {
    margin: 0;
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 8px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  .inner-wrap-content .top-form-block.resumen .adj-list {
    text-align: left;
  }

  .inner-wrap-content .top-form-block.resumen .adj-list li {
    margin: 0;
    display: block;
    width: 33.33%;
    float: left;
    margin-bottom: 8px;
  }
}

/* Resumen Consultas Realizadas */

/* Modal */

.consultas {
  /* consulta */
}

.consultas .consulta {
  margin-bottom: 8px;
}

.consultas .consulta:nth-child(odd) .content-consulta {
  background: #fff;
}

.consultas .consulta:nth-child(even) .content-consulta {
  background: #f0f2f1;
}

.consultas .date-consulta,
.consultas .content-consulta {
  padding: 8px;
}

.consultas .content-consulta {
  background: #fff;
  border: 1px solid #e2e2e2;
  height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
}

.consultas .content-consulta h5 {
  color: #777777;
  font-weight: bold;
  margin-top: 0;
}

.consultas .date-consulta p strong {
  color: #777777;
}

/* consultas */

/* CREACIÓN DE PACKS - MODAL
   ======================================= */

.save-success .modal-header {
  border-bottom: none;
}

.save-success .modal-footer {
  border-top: none;
}

.save-success .dncp-success i {
  font-size: 3em;
  color: #d7df21;
}

.save-success .dncp-success p {
  color: #002532;
  font-size: 1.2em;
  font-weight: bold;
}

/* CONOCATORIA - 
   ======================================= */

/* Modal- Productos-Bienes-Servicios */

.resultado-item table {
  margin-bottom: 0;
}

.bottom-controls p {
  font-style: italic;
  margin: 20px 0 0 0;
}

.bottom-controls .pagination {
  margin-bottom: 0;
}

/* FORM STYLES
   ======================================= */

.form-content .avanzado-btn {
  font-style: italic;
  font-size: 14px;
}

.form-content .avanzado-btn i {
  color: #f58220;
}

.form-content h5 {
  color: #002532;
  font-weight: bold;
}

.form-content .submit-block {
  position: relative;
}

.form-content .submit-block input {
  position: relative;
  z-index: 1;
}

.form-content .submit-block hr {
  position: absolute;
  top: -3px;
  width: 85%;
  z-index: 0;
}

.form-filter .form-group label,
.form-content .form-group label {
  font-size: 13px;
  text-align: left;
  font-weight: bold;
}

.form-filter .control-label.label-right,
.form-content .control-label.label-right {
  text-align: right;
}

.form-filter .control-label.label-left,
.form-content .control-label.label-left {
  text-align: left;
}

.form-filter .control-label.label-center,
.form-content .control-label.label-center {
  text-align: center;
}

.form-filter .form-group .help-block,
.form-content .form-group .help-block {
  font-size: 11px;
}

.form-content .form-group .checkbox {
  text-align: left;
}

.form-content .form-group .checkbox label {
  color: #868b91;
  font-size: 13px;
  padding-left: 0;
  font-weight: bold;
}

.busqueda-avanzada .form-title-inner {
  color: #002532;
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 1em;
}

.busqueda-avanzada .form-title-inner + hr {
  margin-top: 0;
}

/* DASHBOARD
   ======================================= */

.main-content.dashboard .inner-wrap-content {
  padding-top: 0;
}

.main-content.dashboard .wrapper-inner {
  padding: 15px;
}

@media only screen and (min-width: 220px) {
  .main-content.dashboard .wrapper-inner {
    padding: 5px;
  }
}

.tab-title {
  background: #aeb8bc;
  padding: 9px 25px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-top: 0;
}

.notificaciones {
  margin-bottom: 24px;
}

.notificaciones .tabla {
  height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
}

.notificaciones .tabla .link-list {
  margin-top: 16px;
}

.notificaciones .tabla .link-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-dashboard {
  /* Calendario */
  /* Mis Subastas */
}

.sidebar-dashboard .wrapper-inner {
  margin-bottom: 32px;
  /*24px*/
}

.sidebar-dashboard .calendar-section,
.sidebar-dashboard .pie-section,
.sidebar-dashboard .subastas-section {
  min-height: 302px;
}

.sidebar-dashboard .calendar-section {
  text-align: center;
}

.sidebar-dashboard .calendar-wrapper {
  display: inline-block;
  margin: 0 auto;
}

.sidebar-dashboard p.resume-calendar-text {
  color: #7a7a7a;
  line-height: normal;
  font-size: 12px;
  text-align: left;
  margin: 0;
  padding: 1em 0;
}

.sidebar-dashboard .subastas-section table {
  height: 50px;
}

.sidebar-dashboard .subastas-section .tabla {
  height: 275px;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
}

/* Estilos Legend Pie Chart*/

.pie-section .pie-dashboard {
  margin: 0 auto;
}

.pie-section .legend-container {
  margin-top: 8px;
}

.pie-section .legend-container .legendColorBox > div {
  margin-right: 4px;
}

/* Ancho y Alto de Pie */

.pie-dashboard {
  height: 250px;
  width: 250px;
}

/* NOTIFICACIONES MENSAJES
   ======================================= */

.ui-state-exito .ui-icon {
  background-image: url("../images/ui-icons_558925_256x240.png");
}

.ui-state-alerta .ui-icon {
  background-image: url("../images/ui-icons_c5b213_256x240.png");
}

.exito-color {
  color: #5b8033;
}

.alerta-color {
  color: #998f38;
}

.error-color {
  color: #cd0a0a;
}

.notifaciones .ui-state-error {
  border: none;
  background: none;
  background: #f1dfdf;
}

.notifaciones .ui-state-exito {
  background: #dfefd5;
}

.notifaciones .ui-state-exito span {
  color: #5b8033;
}

.notifaciones .ui-state-alerta {
  background: #fbf4ae;
}

.notifaciones .ui-state-alerta span {
  color: #998f38;
}

/* Notificaciones */

/* FOOTER INFO
   ======================================= */

.footer-info {
  background: #002532;
  height: auto;
  /* TABS */
}

.footer-info .tabs-list .abrir {
  margin-left: 1.75%;
}

.footer-info .ui-widget-content {
  background: none;
  border: none;
  /*ul.ui-tabs-nav*/
}

.footer-info .ui-widget-content ul.ui-tabs-nav {
  position: absolute;
  top: -46px;
  right: 8%;
}

.footer-info .ui-widget-content ul.ui-tabs-nav li {
  border-radius: 0;
  width: 255px;
  text-align: center;
}

.footer-info .ui-widget-content ul.ui-tabs-nav li.ui-state-default {
  background: #7e7e7e;
  border: none;
}

.footer-info .ui-widget-content ul.ui-tabs-nav li.ui-state-default a {
  color: #fff;
  display: block;
  width: 100%;
  font-weight: bold;
  padding: .75em;
}

.footer-info .ui-widget-content ul.ui-tabs-nav li.ui-state-default a:hover {
  cursor: pointer;
}

.footer-info .ui-widget-content ul.ui-tabs-nav li.ui-tabs-active {
  background: #002532;
  border: none;
}

.footer-info .ui-widget-content ul.ui-tabs-nav li.ui-tabs-active a {
  color: #fff;
}

@media only screen and (min-width: 220px) and (max-width: 720px) {
  .footer-info .ui-widget-content ul.ui-tabs-nav {
    top: -31px;
    right: 0;
    width: 100%;
    padding: 0;
  }

  .footer-info .ui-widget-content ul.ui-tabs-nav li {
    width: 48%;
  }

  .footer-info .ui-widget-content ul.ui-tabs-nav li.ui-state-default a {
    font-size: 11px;
  }
}

.footer-info .ui-widget-header {
  background: none;
  border: none;
}

.footer-info .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 1em 1em;
}

@media only screen and (min-width: 220px) and (max-width: 716px) {
  .footer-info {
    height: inherit !important;
  }
}

@media only screen and (min-width: 220px) and (max-width: 767px) {
  .footer-info {
    margin-top: 3em;
  }
}

/*footer-info*/

.footer-titles {
  margin-bottom: 40px;
  color: #fff;
  /* enlaces */
}

.footer-titles h4,
.footer-titles span a {
  color: #fff;
  font-weight: 400;
}

.footer-titles span a {
  font-style: italic;
  text-decoration: underline;
}

.footer-titles span a:hover {
  color: #f69038;
}

.footer-titles h4 {
  margin: 0;
}

.footer-titles .enlaces {
  padding-left: 3em;
}

.footer-titles .enlaces a {
  font-style: italic;
}

@media only screen and (min-width: 220px) and (max-width: 720px) {
  .footer-titles {
    margin-bottom: 1em;
  }
}

/* footer-titles*/

.denuncia h5 {
  color: #fff;
  font-weight: bold;
}

.denuncia h5 + p {
  color: #fff;
  font-weight: bold;
}

.denuncia .como {
  padding: 0;
  list-style-position: inside;
  color: #fff;
  font-size: 13px;
}

@media only screen and (min-width: 220px) {
  .denuncia .como {
    margin-bottom: 2em;
  }
}

/* denuncia */

/* PÁGINAS (SERVICIOS INTERNA) (CPS SIE)
   ======================================= */

.pag-hero {
  padding: 38px 0;
  margin-top: -25px;
}

.pag-hero .pag-title {
  color: #002532;
  font-weight: bold;
  font-size: 18px;
}

.descarga-informes {
  padding: 10px 0;
}

.descarga-informes ul {
  margin: 0;
}

.descarga-informes ul li i {
  color: #f58220;
}

.pag-nav {
  background: #fff;
  border: 1px solid #a0a0a0;
  /* ul*/
  /* Hover */
}

.pag-nav ul li {
  position: relative;
  border-top: 1px solid #a0a0a0;
}

.pag-nav ul li:first-child {
  border-top: none;
}

.pag-nav ul li.active > a {
  color: #002532;
  font-weight: bold;
}

.pag-nav ul li.active > a:after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  top: 6px;
  border: 8px solid transparent;
  border-width: 14px 10px;
  border-right-color: #f58220;
}

.pag-nav .nav > li > a:hover,
.pag-nav .nav > li > a:focus {
  background: none;
}

/* cps-nav */

.pag-content {
  margin-bottom: 8px;
  padding: 11px;
  background: #fff;
  border: 1px solid #a0a0a0;
}

.pag-wrapper .panel-body p.pull-left img {
  margin-right: 1em;
}

.pag-wrapper .panel-body p.pull-right img {
  margin-left: 1em;
}

.pag-wrapper figcaption {
  margin-bottom: 5px;
  margin-top: 0;
}

.pag-wrapper img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  display: block;
}

.pag-wrapper .title {
  color: #002532;
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
}

.pag-wrapper .panel-title > a {
  color: #002532;
  font-weight: bold;
}

/*pag-wrapper*/

/* PRODUCTOS Y SERVICIOS POR LOTES
	======================================= */

.sidebar-list {
  /* list-lotes */
}

.sidebar-list .list-lotes {
  height: 756px;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-list .list-lotes .nav > li > a {
  background: #FDFDFD;
  border-top: 1px solid #eff1f0;
}

.sidebar-list .list-lotes .nav > li > a span {
  font-weight: bold;
  margin-right: 15px;
}

.sidebar-list .list-lotes li a:hover {
  color: #f58220;
}

.sidebar-list .list-lotes li.active a {
  font-weight: bold;
  color: #f58220;
}

@media only screen and (min-width: 220px) and (max-width: 991px) {
  .sidebar-list .list-lotes {
    height: 260px;
    margin-bottom: 32px;
  }
}

/* sidebar-list */

.table-list {
  /* current-table */
}

.table-list .top-form-block {
  margin-bottom: 8px;
}

.table-list .current-table .table thead {
  border: none;
  color: #797b7a;
  font-size: .9em;
}

.table-list .current-table .table td {
  background: #adadad;
  color: #fff;
  border-left: 2px solid #fff;
}

.table-list .current-table .table td:first-child {
  border-left: none;
}

.table-list .current-table .table td a {
  color: #fff;
}

/* table-list */

.table-lotes tbody tr.lote-open > td {
  background: #fff;
}

.table-lotes tr.lotes-headers > td {
  padding: .5em;
}

.table-lotes .controls-lotes td {
  padding: 1.2em;
}

/* table-lotes*/

.current-lote-table {
  /* tabla-responsive */
}

@media screen and (max-width: 991px) {
  .current-lote-table .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }

  .current-lote-table .table-responsive > .table {
    margin-bottom: 0;
  }

  .current-lote-table .table-responsive > .table > thead > tr > th,
  .current-lote-table .table-responsive > .table > thead > tr > td,
  .current-lote-table .table-responsive > .table > tbody > tr > th,
  .current-lote-table .table-responsive > .table > tbody > tr > td,
  .current-lote-table .table-responsive > .table > tfoot > tr > th,
  .current-lote-table .table-responsive > .table > tfoot > tr > td {
    white-space: normal;
  }

  .current-lote-table .table-responsive > .table-bordered {
    border: 0;
  }

  .current-lote-table .table-responsive > .table-bordered > thead > tr > th:first-child,
  .current-lote-table .table-responsive > .table-bordered > thead > tr > td:first-child,
  .current-lote-table .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .current-lote-table .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .current-lote-table .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .current-lote-table .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }

  .current-lote-table .table-responsive > .table-bordered > thead > tr > th:last-child,
  .current-lote-table .table-responsive > .table-bordered > thead > tr > td:last-child,
  .current-lote-table .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .current-lote-table .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .current-lote-table .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .current-lote-table .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }

  .current-lote-table .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .current-lote-table .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .current-lote-table .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .current-lote-table .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

/* current-lote-table */

/* current-lote-table dragable */

.lote-publico .inside-form-title {
  font-size: 16px;
  color: #002532;
  font-weight: bold;
}

.lote-publico .inside-form-title:first-child {
  margin-top: 0;
}

.current-lote-table.dragable {
  /* tabla-responsive */
}

@media screen and (max-width: 991px) {
  .current-lote-table.dragable .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }

  .current-lote-table.dragable .table-responsive > .table {
    margin-bottom: 0;
  }

  .current-lote-table.dragable .table-responsive > .table > thead > tr > th,
  .current-lote-table.dragable .table-responsive > .table > thead > tr > td,
  .current-lote-table.dragable .table-responsive > .table > tbody > tr > th,
  .current-lote-table.dragable .table-responsive > .table > tbody > tr > td,
  .current-lote-table.dragable .table-responsive > .table > tfoot > tr > th,
  .current-lote-table.dragable .table-responsive > .table > tfoot > tr > td {
    white-space: normal;
  }

  .current-lote-table.dragable .table-responsive > .table-bordered {
    border: 0;
  }

  .current-lote-table.dragable .table-responsive > .table-bordered > thead > tr > th:first-child,
  .current-lote-table.dragable .table-responsive > .table-bordered > thead > tr > td:first-child,
  .current-lote-table.dragable .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .current-lote-table.dragable .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .current-lote-table.dragable .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .current-lote-table.dragable .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }

  .current-lote-table.dragable .table-responsive > .table-bordered > thead > tr > th:last-child,
  .current-lote-table.dragable .table-responsive > .table-bordered > thead > tr > td:last-child,
  .current-lote-table.dragable .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .current-lote-table.dragable .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .current-lote-table.dragable .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .current-lote-table.dragable .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }

  .current-lote-table.dragable .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .current-lote-table.dragable .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .current-lote-table.dragable .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .current-lote-table.dragable .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

.current-lote-table.dragable tr:hover td:first-child {
  background: url(../images/tr_hover.png) no-repeat 1px 50%;
}

.current-lote-table.dragable tr:hover {
  cursor: pointer;
}

/* current-lote-table */

/* FOOTER 
   ======================================= */

#footer {
  padding: 2.13em 0;
  background: #fff;
}

#footer p {
  margin: 0;
}

#footer p.logo-gobierno {
  text-align: right;
  margin: 0;
}

#footer p.logo-footer {
  margin: 0;
}

#footer p.direccion {
  font-size: 13px;
  line-height: normal;
  color: #7d7d7d;
}

#footer p.direccion span a {
  font-weight: bold;
  color: #666;
}

@media only screen and (min-width: 220px) and (max-width: 767px) {
  #footer p.logo-footer,
  #footer p.direccion,
  #footer p.logo-gobierno {
    text-align: center;
    margin-bottom: .75em;
  }

  #footer img {
    display: inline-block;
  }
}

@media only screen and (min-width: 1199px) {
  #footer p.direccion {
    margin-top: .5em;
  }
}

/* footer */