<link rel="icon" type="image/ico" href="./images/favicon.ico">
<div>
<link rel="stylesheet" href="./vendors/jqueryui/jquery-ui.css">
<link rel="stylesheet" href="./vendors/tabdrop/css/tabdrop.css">
<link rel="stylesheet" href="./vendors/jquery-notify/ui.notify.css">
<link rel="stylesheet" href="./vendors/fancybox/source/jquery.fancybox.css" />
<link rel="stylesheet" href="./vendors/select2/select2.css" />
<link rel="stylesheet" href="./vendors/select2-bootstrap-css/select2-bootstrap.css" />
<link rel="stylesheet" href="./vendors/bootstrap/bootstrap.css">
<link rel="stylesheet" href="./css/main.min.css">
<link rel="stylesheet" href="./css/custom-main.min.css">

<link rel="stylesheet" href="./ciclo_licitacion/styles/components/tree.css">
<link rel="stylesheet" href="./ciclo_licitacion/styles/components/custom.css">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT Sans">
<link rel="stylesheet" href="./bower_components/toastr/toastr.min.css">


<script src="./bower_components/modernizr/modernizr.js"></script>
<script src="./js/jquery-1.11.0.min.js"></script>
<script
	src="./bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
<script
	src="./bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
<script
	src="./bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
<script
	src="./bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
<script
	src="./bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
<script
	src="./bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
<script
	src="./bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
<script
	src="./bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
<script
	src="./bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
<script
	src="./bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
<script
	src="./bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
<script
	src="./bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
<script src="./bower_components/d3/d3.js"></script>
<script src="./bower_components/lodash/lodash.js"></script>
<script src="./bower_components/handlebars/handlebars.js"></script>
<script src="./bower_components/momentjs/moment.js"></script>
<script src="./bower_components/spinjs/spin.js"></script>
<script src="./bower_components/toastr/toastr.min.js"></script>

<script src="./bower_components/momentjs/locale/es.js"></script>
<script src="./ciclo_licitacion/scripts/service.js"></script>
<script src="./ciclo_licitacion/scripts/main.js"></script>
	<div class="container">
		<div id="encabezado"></div>
		<div class="row">
			<div class="col-sm-16">
				<div class="wrap-content clearfix">
					<div class="custom-highlight">
	
	<script id="template-encabezado" type="text/x-handlebars-template">
        <h1>Licitación {{numero}}: {{nombre}}</h1>
        <h2>Convocante: {{convocante}}</h2>
        {{#if rojo}}
            <h3 class="cabecera-cancelado">Etapa: {{etapa}}</h3>
        {{/if}}
        {{#if amarillo}}
            <h3 class="cabecera-suspendido">Etapa: {{etapa}}</h3>
        {{/if}}
        {{#if verde}}
            <h3 class="cabecera-ejecutado">Etapa: {{etapa}}</h3>
        {{/if}}
    </script>
	
	<script id="nodo-planificacion" type="text/x-handlebars-template">
        <div class="circulo shadow planificacion">
            <img src="./ciclo_licitacion/images/SVG_Planificacion.svg" width="50" height="50">
            <div id="etapa" class="fuenteBase tituloEtapa">{{titulo}}</div>
            <div id="fecha" class="fuenteBase fecha">{{fecha}}</div>
        </div>
    </script>
	
	<script id="nodo-convocatoria" type="text/x-handlebars-template">
        <div class="circulo shadow convocatoria">
            <img src="./ciclo_licitacion/images/SVG_Convocatoria.svg" width="50" height="50">
            <div id="etapa" class="fuenteBase tituloEtapa">{{titulo}}</div>
            <div id="fecha" class="fuenteBase fecha">{{fecha}}</div>
            {{#if rojo}}
            <div id="etiqueta" class="fuenteBase fecha etiqueta cancelado">{{estado}}</div>
            {{/if}}
            {{#if naranja}}
            <div id="etiqueta" class="fuenteBase fecha etiqueta suspendido">{{estado}}</div>
            {{/if}}
            {{#if verde}}
            <div id="etiqueta" class="fuenteBase fecha etiqueta adjudicado">{{estado}}</div>
            {{/if}}
        </div>
    </script>
	
	<script id="nodo-adjudicacion" type="text/x-handlebars-template">
        <div class="circulo shadow adjudicacion">
            <img src="./ciclo_licitacion/images/SVG_Adjudicacion.svg" width="50" height="50">
            <div id="etapa" class="fuenteBase tituloEtapa">{{titulo}}</div>
            <div id="fecha" class="fuenteBase fecha">{{fecha}}</div>
        </div>
    </script>
	
	<script id="nodo-ampliacion" type="text/x-handlebars-template">
        <div class="circulo shadow ampliacion">
            <img src="./ciclo_licitacion/images/SVG_Ampliacion_contrato.svg" width="50" height="50">
            <div id="etapa" class="fuenteBase tituloEtapaAdicional">{{titulo}}</div>
            <div id="monto" class="fuenteBase monto">{{monto}}</div>
            <div id="fecha" class="fuenteBase fecha">{{fecha}}</div>
        </div>
    </script>
	
	<script id="nodo-verificacion" type="text/x-handlebars-template">
        <div class="circulo shadow verificacion">
            <img src="./ciclo_licitacion/images/SVG_Verificacion_contrato.svg" width="50" height="50">
            <div id="etapa" class="fuenteBase tituloEtapaAdicional">{{titulo}}</div>
            <div id="fecha" class="fuenteBase fecha">{{fecha}}</div>
        </div>
    </script>
	
	<script id="nodo-contrato" type="text/x-handlebars-template">
        <div class="rectangulo shadow contrato">
            <img src="./ciclo_licitacion/images/SVG_Contrato.svg" width="50" height="80" align="left">
            <div id="etapa" class="fuenteBase tituloEtapa izq tituloInline">{{titulo}}</div>
            {{#if rojo}}
                <div id="etiqueta" class="etiqueta fuenteBase fecha etiquetaInline cancelado">{{estado}}</div>
            {{/if}}
            {{#if naranja}}
                <div id="etiqueta" class="etiqueta fuenteBase fecha etiquetaInline suspendido">{{estado}}</div>
            {{/if}}
            {{#if verde}}
                <div id="etiqueta" class="etiqueta fuenteBase fecha etiquetaInline ejecutado">{{estado}}</div>
            {{/if}}
            <div id="fecha" class="fuenteBase fecha izq">{{fecha}}</div>
            <div id="proveedor" class="fuenteBase nombreAdjudicado izq">{{proveedor}}</div>
            <div id="monto" class="fuenteBase monto izq">{{monto}}</div>
        </div>
    </script>
	
	<script id="nodo-contrato-mas" type="text/x-handlebars-template">
        <div class="rectangulo shadow contrato">
            <img src="./ciclo_licitacion/images/SVG_Mas_contratos.svg" width="50" height="80" align="left">
            <div id="etapa" class="fuenteBase tituloEtapa izq pd15">{{titulo}}</div>
        </div>
    </script>
						<br />
	
						<div id="search-bar">
							<div class="row">
								<div class="col-lg-6 col-sm-12">
									<label>ID del Llamado</label>
									<div class="input-group">
										<input type="text" class="form-control"
											placeholder="Ingrese aquí el ID del llamado." value="272219">
										<span class="input-group-btn">
											<button id="draw-trigger"
												class="btn btn-default fix-buttom-height" type="button">Ver
												Licitación</button>
										</span>
									</div>
									<!-- /input-group -->
								</div>
								<!-- /.col-lg-6 -->
							</div>
							<!-- /.row -->
						</div>
	
						<div id="viz-container" class="fondo-gris"></div>
	
						<div id="ref-container">
							<div id="titulo-referencia" class="fuenteBaseRef tituloEtapa izq">Referencias</div>
	
							<div class="fuenteBaseRef ref-desc">Colores referenciales de
								Etapas y Estados</div>
							<br />
							<table id="ref-table" class="ref-table">
								<tr>
									<td>
										<div class="fuenteBaseRef ref-title">Etapas</div>
									</td>
									<td>
										<div class="ref-circulo planificacion"></div>
										<div class="fuenteBaseRef ref-label">Planificación</div>
									</td>
									<td>
										<div class="ref-circulo convocatoria"></div>
										<div class="fuenteBaseRef ref-label">Convocatoria /
											Llamado</div>
									</td>
									<td>
										<div class="ref-circulo adjudicacion"></div>
										<div class="fuenteBaseRef ref-label">Adjudicación</div>
									</td>
									<td>
										<div class="ref-circulo contrato"></div>
										<div class="fuenteBaseRef ref-label">Contrato</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="fuenteBaseRef ref-title">Estados</div>
									</td>
	
									<td>
										<div class="ref-circulo adjudicado"></div>
										<div class="fuenteBaseRef ref-label">Adjudicado -
											Ejecutado - Publicado</div>
									</td>
	
									<td>
										<div class="ref-circulo suspendido"></div>
										<div class="fuenteBaseRef ref-label">Suspendido -
											Impugnado</div>
									</td>
									<td>
										<div class="ref-circulo cancelado"></div>
										<div class="fuenteBaseRef ref-label">Cancelado - Anulado
											- Desierto</div>
									</td>
								</tr>
							</table>
							<div id="observacion" class="fuenteBaseRef ref-desc">
								Observación: Primero verás al último evento ocurrido en cada
								etapa y los contratos de mayor monto de la licitación.</div>
						</div>
	
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

