/*******************************************************/
/******************************************************* anchos bases /
/*******************************************************/

.ancho5 
{
	width: 5%;
}

.ancho10 
{
	width: 10%;
}

.ancho15 
{
	width: 15%;
}

.ancho20 
{
	width: 20%;
}

.ancho25 
{
	width: 25%;
}

.ancho30 
{
	width: 30%;
}

.ancho40 
{
	width: 40%; 
} 

.ancho50 
{
	width: 50%;
}

.ancho60 
{
	width: 60%;
}

.ancho60 
{
	width: 65%;
}

.anchoPlanFinancieroText 
{
	width: 30px;	
}

.comboPacLineas 
{
	width: 50px;	
}

.selectOneRadioAncho 
{
	width:40em;
}

.etiquetaSelectorLarga 
{
	width:100px;
}

/*******************************************************/
/******************************************************* altos bases /
/*******************************************************/
.alto20 
{
	height: 20px;
	padding: 0px;
}

.alto50 
{
	height: 50px;
	padding: 0px;
}

.alto100 
{
	height: 100px;
}

.alto200 
{
	height: 200px;
}

.alto300 
{
	height: 300px;
}

.alto400 
{
	height: 400px;
}

/*******************************************************/
/******************************************************* banding /
/*******************************************************/

.rowHeader 
{
	background-color: #667881;
	color:white;
	font-weight: bold;
	
}

.rowImpar 
{
	background-color: #ffffff;
}

.rowPar 
{ 
	/*background-color: #F0F8FF;*/
	background-color: #DCE5DC;
	/*background-color: #EEF5EE;*/
}

.rowTrue 
{ 
	/*background-color: #F0F8FF;*/
	/*background-color: #FF0000;*/
	background-image: url("../images/borrar.png");
	background-repeat: no-repeat;
	/*background-color: #EEF5EE;*/
}

.rowAlerta
{
	background-color: #F0C6CD;
	color:#FFFFFF;
	
} 

.rowFalse 
{ 
	/*background-color: #F0F8FF;*/
	background-image: url("../images/aprobar.png");
	background-repeat: no-repeat;
	/*background-color: #EEF5EE;*/
}

.sipeFalse 
{ 
	color: red;
	font-weight: bold;
}

.sipeTrue 
{ 
	font-weight: bold;
}

/*******************************************************/
/******************************************************* alineación de columnas /
/*******************************************************/
.numeric 
{
	text-align: right;
	padding-right: 3px;	
}

.text 
{
	text-align: left;
	padding-left: 3px;
}

.icon 
{
	text-align: center;
}

.textAdj 
{
	text-align: left;
	padding-left: 3px;
	width: 3cm;
	
}
/*******************************************************/
/******************************************************* validadores /
/*******************************************************/

.mandatoryValidator, .numericValidator, .amountValidator, .amountValidatorOrZero, .naturalValidator, .emailValidator, .dateValidator, .timeValidator, .datetimeValidator, .atLeastOne 
{
	
}

.numericValidator
{
	text-align: right;
}

.amountValidator, .amountValidatorOrZero
{
	text-align: right;
}

/*******************************************************/
/******************************************************* documentos del sipe /
/*******************************************************/

.documentoSipeActivo
{
	color: #246D1C;
}

.documentoSipeVencido
{
	color: #7F7F7F;
}

.documentoSipeInactivo
{
	color: #000000;
}

.documentoSipeErroneo
{
	color: #910B0B;
}

/*******************************************************/
/*******************************************************/
/*******************************************************/

.mensajesSubastador
{
	/*color: #f07e39;*/
	color: #EE691A;
	font-size: 14px;
}

.mensajesSistema
{
	/*color: blue;*/
	/*color: blue;*/
    color:#035563;
    font-size: 14px;
}

.lance
{
	height: 30px;
	font-size: 20px;
	width: 196px;
}


.alignTop 
{
	vertical-align: top;
}

.fondoPanel 
{
	background-color: #F9F9F9;
}

.headerClass 
{
	background-image: url("../images/panel_header.jpg");
	color: #046575;
	font-size: 15px;
	background-repeat: repeat-x;
	height: 23px;
}

table.tablaVisible,td.tablaVisible 
{
	border-collapse: collapse;
	border: solid 1px #C0C0C0;
}

td.tablaVisibleHeader
{
	background-color:#c0c0c0;
	border: solid 1px #000000;
}

.anchoTotal 
{
	width: 928px;
}

.anchoHomeSubasta 
{
	width: 900px;
}

.anchoTotalProveedor 
{
	width: 928px;
	height: 23px;
}

.icono 
{
	padding-left: 5px;
}

.sbeMejorLance,.sbeWarning {	
	color: #FF6600;
	font-weight: bold;	
}

.sbeAvisoGrande {	
	color : #008000; 
	font-weight : bold; 
	font-size : 14pt; 
}


.imagenOpaca {                       
   opacity: 0.3;
   filter: alpha(opacity=30);
   zoom: 1;  /* needed to trigger "hasLayout" in IE if no width or height is set */ 
}

.sbeEtapaLances {	
	color: #008000;
	font-weight: bold;	
}

.sbeEtapaPuja {	
	color: #AEB62E;
	font-weight: bold;	
}

.sbeEtapaAleatoria {
	color: #D90000;
	font-weight: bolder;	
}

.sbeEtapaDesempate {
	color: #000080;
	font-weight: bolder;	
}

.cuadroPortalPublico
{
	height: 218px;
	width: 365px;
}

.sbeFontGrande
{
	font-size: 14px;
}
