/*******************************************************/
BODY {
	margin: 0px;
	margin-top: 0px;
	padding: 0px;
	background-color: #666666;
	background-image: url(../images/template_background.jpg);
	background-repeat: repeat-x;
	font-size: 12px;
	font-family: Verdana, Tahoma;
}

/*LABEL{text-align: right;}*/

UL {
	list-style-image: url("../images/ul_li.png");
}

.tableFooter{background-color: #ff0000;}

H1 {
	color: #046575;
	font-size: 1.8em;
	margin-top: 0;
	margin-bottom: 1px;
	font-style: italic;
}

H2{
	color: #046575;
	font-size: 1.7em;
	margin-top: 0;
	margin-bottom: 1px;
}

H3{
	color: #046575;
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 1px;
}

IMG {
	border:0px none;	
}

A:active {
	color: #666666;
}

A:hover {
	color: #000000;
	background-color: #D6E0FE;
}

A:link,A:visited {
	color: #005EB6;
}

A.mainmenu:active,A.mainmenu:hover,A.mainmenu:link,A.mainmenu:visited {
	text-decoration: none;
	background-color: transparent;
}

A.mainmenu:active {
	color: #666666;
}

A.mainmenu:hover {
	color: #000000;
}

A.mainmenu:link,A.mainmenu:visited {
	color: #005EB6;
}

HR {
	border-bottom: 1px #c0c0c0 solid;
	border-top: 1px #ffffff solid;
	border-left: 1px #ffffff solid;
	border-right: 1px #ffffff solid;	
}

input[type='text'], input[type='password'], input[type='textarea']
{
	font-family: Verdana, Arial;
	border: 1px solid #BBBBBB;
	font-size: 10px;
	color: black;
}

input[type='submit'], input[type='button'] {
	font-family: Verdana, Arial;
	background: #4477AA;
	color: white;
	font-weight: bold;
	border-color: gray;
	margin-left: 2px;
	margin-right: 2px;
}

input[type='submit'].submenu, input[type='button'].submenu
{
	font-family: Verdana, Arial;
	border: 1px solid 005EB6;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #046575; 
}

INPUT, TEXTAREA {
	font-family: Verdana, Arial;
	border: 1px solid #BBBBBB;
	font-size: 10px;
	color: black;
}

SELECT {
	font-family: Verdana, Arial;
	border: 1px solid #BBBBBB;
	font-size: 10px;
	color: black;
}

input[readonly] {
	background-color: #E5E5E5
}

/*******************************************************/
.message dt.infomsg,.message dt.errormsg,.message dt.warnmsg {
	font-family: Verdana, Arial;
	list-style-type: none;
	list-style-image: none;
	padding: 5px;
	font-weight: bold;
	color: #FFFFFF;
}

.message dt.infomsg {
	background-color: #064C19;
}

.message dt.errormsg {
	/*background-color: #FFDFDF;*/
	background-color: #A52A2A;
}

.message dt.warnmsg {
	/*background-color: #EEF2BD;*/
	background-color: #E09202;
	color: #4F4F4F;
}

/*******************************************************/
.descripcionTitulo {
	color: #4B7A78;
	font-size: 12px;
	border-bottom: #c0c0c0 dashed 1px;
	border-top: #c0c0c0 dashed 1px;
	margin-bottom: 10px;
	padding-left: 0px;
}

.dateTime {
	color: #275C38;
	font-size: 12px;
}

.name, .nameLogin, .nameNoLineal {
	vertical-align: top;
	font-weight: bold;
	float: left;
	padding: 5px;
	width: 150px;
	margin-top: 0px;
	clear: left;
	/*text-align: right;*/
}

.nameSelectorCelda{
	vertical-align: top;	
	float: left;		
	margin-top: 0px;
	width: 125px;
	clear: left;
}

.nameNoLineal {
	width: 50px;
}

.nameLogin {
	width: 90px;	
}


.value, .valueNoLineal, .valueSelector, .valueUnaLinea {
	float: left;
	padding: 5px;
	vertical-align: top;
	margin-top: 0px;
	width: 220px;
}

.valueSelectorCelda{
	float: left;	
	vertical-align: top;
	margin-top: 0px;		
}

.valueUnaLinea
{
	width: 550px;
}

.valueLogin {
	width: 50px;	
}

.valueNoLineal {
	width: 50px;
}

.valueSelector {
	width: auto;
}

.label {
	font-weight: bold;
}

.tituloCeldaTabla{
	color: #4B7A78;
	font-size: 12px;
	font-weight: bold;
	border-bottom: #c0c0c0 dashed 1px;
	margin-bottom: 10px;
	padding-left: 0px;
}


.textoCeldaTabla{
	font-weight: normal;
	font-size: 12px;
	padding-left: 10px;
}

.footerCeldaTabla{
	font-size: 10px;
	font-style: italic;
}

.required {
	color: red;
	padding-left: 2px;
}

.dataTableHeader {
	background-image: none;
	background-color: #95A4A7;
	color: #FFFFFF;
	height: 25px;
}

.error {
	font-size: 9px;
	clear: both;
	margin-left: 2px;
}

.errors {
	color: red;
}

.rich-message-label {
	color: red;
}

.alert {
	color: #D90000;	
}

.alertBlue {
	color: #005EB6;
}

.actionButtons, .requiredFooter, .clear {
	margin-top: 10px;
	clear: both;
}

#cargando, .cargando, .facesMessages, #bottomFixedMessage
{
	position: fixed;
	width: 150px;
	height: 200px;
	left: 0px;
	top: 0px;
	z-index: 1001;
}

.facesMessages
{
	width: 100%;
	height: auto;
	z-index: 1000;
}

#bottomFixedMessage
{
	width: 100%;
	height: 25px;
	background-color: #709B86;
	z-index: 1000;
	text-align: right;
	padding-right: 10px;
	padding-top: 5px;
}

#datosUsuario {
	font-family: Verdana, Tahoma;
	font-size: 11px;
	padding-top: 5px;
	text-align: right;
}

/*******************************************************/

.template_header_left {
	background-image: url("../images/template_header_left.jpg");
}

.template_header_center {
	background-image: url("../images/template_header_center.jpg");
}

.template_header_right {
	background-image: url("../images/template_header_right.jpg");
}

.template_menu_left {
	background-image: url("../images/template_menu_left.jpg");
}

.template_menu_right {
	background-image: url("../images/template_menu_right.jpg");
}

.template_body_left_bk {
	background-image: url("../images/template_body_left_bk.jpg");
}

.template_body_right_bk {
	background-image: url("../images/template_body_right_bk.jpg");
}

.template_footer_left {
	background-image: url("../images/template_footer_left.jpg");
}

.template_footer_center {
	background-image: url("../images/template_footer_center.jpg");
}

.template_footer_right {
	background-image: url("../images/template_footer_right.jpg");
}



/*
.menu_center {
	background-image: url("../images/menu_center.jpg");
}

.fecha_bg {
	background-image: url("../images/fecha.gif");
}

.body_left_bg {
	background-image: url("../images/body_left_bg.jpg");
}

.body_right_bg {
	background-image: url("../images/body_right_bg.jpg");
}

.header_logo {
	background-image: url("../images/header_logo.jpg");
}

.header_fondo {
	background-image: url("../images/header_fondo.jpg");
}

.header_logo {
	background-image: url("../images/header_logo.jpg");
}

.header_center {
	background-image: url("../images/header_center.jpg");
}

.header_titulo {
	background-image: url("../images/header_titulo.jpg");
}

.header_right {
	background-image: url("../images/header_right.jpg");
}

.header_titulo_right {
	background-image: url("../images/header_titulo_right.jpg");
}

.menu_left {
	background-image: url("../images/menu_left.jpg");
}

.menu_right {
	background-image: url("../images/menu_right.jpg");
}

.body_left {
	background-image: url("../images/body_left.jpg");
}

.body_footer1_left {
	background-image: url("../images/body_footer1_left.jpg");
}

.body_footer1_center {
	background-image: url("../images/body_footer1_center.jpg");
	background-repeat: no-repeat;
}

.body_footer1_right {
	background-image: url("../images/body_footer1_right.jpg");
}

.body_footer2_left {
	background-image: url("../images/body_footer2_left.jpg");
}

.body_footer2_center {
	background-image: url("../images/body_footer2_center.jpg");
}

.body_footer2_logo {
	background-image: url("../images/body_footer2_logo.jpg");
}

.body_footer2_right {
	background-image: url("../images/body_footer2_right.jpg");
}

.footer_left {
	background-image: url("../images/footer_left.jpg");
}

.footer_center {
	background-image: url("../images/footer_center.jpg");
}

.footer_right {
	background-image: url("../images/footer_right.jpg");
}*/

.rich-mpnl_panel {
    position: inherit;
}