/* Estilos para los divs */
.fondo-gris {
	background: #d1d5d7;
  display: block;
  /*margin: 0 auto;*/
}

.circulo {
  	border-radius: 71px 71px 71px 71px;
  	-moz-border-radius: 71px 71px 71px 71px;
  	-webkit-border-radius: 71px 71px 71px 71px;
  	border-style: solid;
    border-width: 10px;
  	border-color: #ffffff;
  	text-align: center;
  	width: 142px;
  	height: 142px;
}

.rectangulo {
	border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-style: solid;
  border-width: 10px;
	border-color: #ffffff;
	text-align: center;
	width: 274px;
	/*height: 100%;*/
  min-height: 100px;
}

.shadow {
   -moz-box-shadow:    inset 5px 5px 30px -12px #000000;
   -webkit-box-shadow: inset 5px 5px 30px -12px #000000;
   box-shadow:         inset 5px 5px 30px -12px #000000;
}

.planificacion {
  	background: #e9710a;
  	/*background-image: url("images/SVG_Planificacion.svg");*/
}

.convocatoria {
  	background: #788083;
}

.adjudicacion {
  	background: #a2d255;
}

.contrato {
  	background: #0d617e;
}

.ampliacion {
  	background: #008ea8;
}

.verificacion {
  	background: #005fa8;
}

.fuenteBase {
	font-family: PT Sans, sans-serif;
	color:#ffffff;
	margin: 0 0 0;
}

.tituloEtapa {
	font-size: 17px;
	font-weight:bold;
}

.tituloEtapaAdicional {
	font-size: 14px;
	font-weight:bold;
}

.nombreAdjudicado {
	font-size: 12px;
	font-weight:bold;
}

.fecha {
	font-size: 10px;
}

.monto {
	font-size: 13px;
}

.etiqueta {
	border-radius: 1px 1px 1px 1px;
	-moz-border-radius: 1px 1px 1px 1px;
	-webkit-border-radius: 1px 1px 1px 1px;
	text-align: center;
	width: 60px;
	height: 15px;
	margin-left: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.cabecera-adjudicado, .cabecera-ejecutado, .cabecera-publicado {
  color: #a2d255;
}

.cabecera-suspendido, .cabecera-impugnado {
  color: #e9710a;
}

.cabecera-cancelado, .cabecera-anulado, .cabecera-desierto {
  color: #e74c3c;
}

.adjudicado, .ejecutado, .publicado {
  background: #a2d255;
}

.suspendido, .impugnado {
  background: #e9710a;
}

.cancelado, .anulado, .desierto {
  background: #e74c3c;
}

.izq {
	text-align: left;
}

.der {
	text-align: right;
}

.pd15 {
	margin-top: 15px;
}

.tituloInline {
  /* display: inline-block; */
  float: left;
  width: 40%;
}

.etiquetaInline {
  /* display: inline-block; */
  float: left;
  padding-bottom: 10px;
  margin-left: 0px;
}

#viz-container{
    width: 1060px;
    height: 700px;
    /*margin: 0 auto;*/
    overflow: auto;
}

#search-bar{
    width: 1060px;
    margin: 0 auto;
    /*overflow: auto;*/
    padding-bottom: 20px;
}

.ref-circulo {
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  /*border-style: solid;
  border-width: 0.1em;*/
  border-color: #000000;
  text-align: center;
  width: 16px;
  height: 16px;
  float: left;
}

#ref-container {
  width: 1060px;
  margin: 0 auto;
  overflow: auto;
  padding: 20px 0px 20px 0px;
}

.fuenteBaseRef {
  font-family: PT Sans, sans-serif;
  color:#002532;
  margin: 0 0 0;
}

.ref-title {
  font-size: 13px;
}

.ref-desc {
  font-size: 11px;
  clear: both;
}

.ref-label {
  color:#788083;
  font-size: 11px;
  margin-left: 13%;
}

.ref-table td {
  width: 200px;
  height: 30px;
  vertical-align:middle;
  margin: 2;
}

.fix-buttom-height {
	height: 34px !important;
}

.fix-height-img {
	height: 80px !important;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

label{
  float: left;
  margin-top: 9px;
  margin-right: 5px;
  display: inline-block;
}

.modal-content{
  border-radius: 5px;
}

#embedcode{
  width: 100%;
}

.embed-container{
  float: right;
}

#titulo-referencia{
  width:50%;
  float:left;
}

#titulo-descargas{
  display:inline-block;
}

#observacion{
  padding-top: 15px;
}

body {
	background-color: white;
}

.spinner {
	left: 35% !important;
	top: 50% !important;
}